[2020-07-10 23:01] mindstyle85 opened #9 "Onewallet doesnt show amount in transactions"
Ideally we should see how much of the HRC token we have sent out and there are no incoming transactions shown:

![wallet](https://user-images.githubusercontent.com/55639830/87209409-06416c80-c312-11ea-87f4-61b6c8f432f5.png)

[2020-07-11 06:32] mirrormirage0 opened #10 "HRC 20 Transactions not displayed"
Used the BUSD faucet and claimed 100 BUSD on Testnet.
Dashboard shows 100 BUSD in balance, but does not show HRC20 Transactions
Tried with multiple browsers. (Chrome/Firefox/Brave)
![image](https://user-images.githubusercontent.com/29485946/87218209-b25e7400-c361-11ea-8958-48a8dd7ab923.png)

Case 1)
http://hrc20.easy-staking.com:8080/#/address/one1vfqqagdzz352mtvdl69v0hw953hm993n6v26yl?txType=hrc2

[2020-07-11 06:41] sophoah opened #11 "Export private key feature generate a string prepended with 0x."
The export private key feature generate a string prepended with 0x.

the import will only work if we remove the 0x.

[2020-07-11 06:42] BrunoMarshall commented on #9
Confirm the same  as mindstyle, shows **0** for BUSD , for normal tx  shows correct)
![image](https://user-images.githubusercontent.com/35432495/87218378-5f30f500-c352-11ea-8ad9-00e8a91017f0.png)

[2020-07-11 06:43] sophoah opened #12 "Make the user verify the saved mnemonic phrases"
The previous wallet version had this feature, it is better to confirm the user saved the mnemonic to minimize loss of fund

[2020-07-11 06:52] sophoah opened #13 "BUSD transfers history are not shown on the received wallet"
Here is from the send account with in red the BUSD transfer of 0 related to #9
![image](https://user-images.githubusercontent.com/35721420/87218484-b3a19800-c385-11ea-95cb-f77166644605.png)

and here the wallet recipient as well through the onewallet:
![image](https://user-images.githubusercontent.com/35721420/87218508-02e7c880-c386-11ea-8d95-bead277e1e6a.png)
the 100 ONE is actually testnet one I

[2020-07-11 07:13] BrunoMarshall opened #14 "BUSD transfers in shard 0, but the graphic interface shows send to: 1 or 2 or 3 shard"
In the Harmony wallet Version 0.2, when i send BUSD or other HRC20, the transfers are currently from shard 0 to 0, but the interface allows the user to choose different shards. The transaction go from shard 0 to 0, independently what the user choose
![image](https://user-images.githubusercontent.com/35432495/87218823-93a6b000-c356-11ea-857f-c6e1a1e0794b.png)
![image](https://user-images.githubuser

[2020-07-12 16:53] raptor1001 commented on #11
@sophoah in this wallet, the import will work even though it has the 0x

[2020-07-12 16:55] raptor1001 commented on #10
hey @mirrormirage0 Is this the testnet or mainnet explorer?

[2020-07-13 15:03] sophoah commented on #11
@raptor1001 i actually tried to import and it didn't work until i removed the 0x.

[2020-07-20 17:52] yelllowsin commented on #11
@raptor1001 just tested on v1.0.0 and this has been fixed. You can close this issue.

[2020-07-20 17:54] yelllowsin commented on #12
I agree, this is needed. Please consider using the same/similar to current chrome extension.

[2020-07-20 17:55] #11 closed

[2020-07-20 18:20] yelllowsin opened #18 "Ledger Nano S - Cannot approve txs"
Trying to use Ledger Nano S after it is unlocked and it is not able to send txs. I am using this same Ledger Nano S on current Chrome extension used on Staking Dashboard, that one works but this one (ONE Wallet) does not.

It says my Ledger is unlocked, when in fact **it is not**.

ONE Wallet: v1.0.0
Ledger Nano S: 1.6.0

![image](https://user-images.githubusercontent.com/7217595/87971620-fce79b00

[2020-07-20 18:58] yelllowsin commented on #10
@raptor1001 Yes, this is poiting to the testnet explorer: http://hrc20.easy-staking.com:8080/#/

The issue is that the txs are being shown on the "Transactions" tab. Instead they should be on the "HRC20 Transactions" tab.

![image](https://user-images.githubusercontent.com/7217595/87975148-9cf3f300-caa1-11ea-9c5a-0a5ee15854af.png)

But i don't think it is you who is working on the block explorer,

[2020-07-21 20:54] yelllowsin opened #21 "Remove Pangaea Network - Doesn't exist anymore"
Please remove the Pangaea Network, it is not used anymore (it was replaced by the long term testnet/LRTN). If you click on it, it doesn't load (probably because the endpoints are not acessible anymore):

![image](https://user-images.githubusercontent.com/7217595/88105965-1a3f6680-cb7b-11ea-8d28-a43c783c72f5.png)

[2020-07-21 22:55] BrunoMarshall commented on #14
Solved, thanks

[2020-07-21 22:55] #14 closed

[2020-07-21 23:00] mindstyle85 commented on #12
this is done in new version, closing

[2020-07-21 23:00] #12 closed

[2020-07-21 23:02] BrunoMarshall opened #22 "One wallet - Send payment "Maximum" amount don´t actualize for different shards"
Harmony_Wallet_v1.0.0

When we send payment, the warning "maximum amount" don´t change, if we change shard:
![image](https://user-images.githubusercontent.com/35432495/88115559-b0dd4900-cbb6-11ea-9815-fdb7f0db2b89.png)

Currently i have 0 tokens in shard 1

Solution:
For each shard the Message should shows the maximum amount in each shard

[2020-07-21 23:10] BrunoMarshall commented on #22
Will close this issue, is working properly, this is send to "shard"

[2020-07-21 23:10] #22 closed

[2020-07-22 01:09] raptor1001 commented on #13
Closing this issue because it's related to [this issue](https://github.com/harmony-one/onewallet/issues/9)

[2020-07-22 01:09] #13 closed

[2020-07-22 11:34] err0r711 opened #24 "One wallet doesn't show "select type" field"
![111122](https://user-images.githubusercontent.com/31262326/88171624-f6822c00-cc1f-11ea-8ea8-aa621cb758bf.jpg)

win 7, Opera, using Chrome Extensions by Opera Software to run it

[2020-07-22 11:46] err0r711 opened #25 "One wallet -network field- not visible"
![test1](https://user-images.githubusercontent.com/31262326/88172299-0cdcb780-cc21-11ea-8e53-3f240988d3af.jpg)

win 7, Opera, using hrome Extensions by Opera Software to run it

[2020-07-22 15:38] sophoah commented on #24
on my win10 with chrome, i don't see the issue
![image](https://user-images.githubusercontent.com/35721420/88197022-7a660380-cc74-11ea-852b-564ff4d43bd8.png)

[2020-07-22 15:54] sophoah opened #26 "UI Bug when importing a keystore filename"
See screenshot :
![image](https://user-images.githubusercontent.com/35721420/88198133-f90f7080-cc75-11ea-95f0-73456d49fbb0.png)
![image](https://user-images.githubusercontent.com/35721420/88198858-bc904480-cc76-11ea-875b-36fa83768831.png)

[2020-07-22 15:57] sophoah opened #27 "keystore import is not working"
Importing a keystore is not working.

How I got the keystore file:
1) copy pasting the content of the keystore file
2) download through sftp the keystore file

for both file, when trying to import i can go all the way to :

![image](https://user-images.githubusercontent.com/35721420/88199095-02e5a380-cc77-11ea-8f8a-e5235ffc0aa9.png)

however, after clicking ok, the tab closed but the extension doe

[2020-07-22 16:06] sophoah commented on #27
just tried to use private key and it also doesn't import (or at least i can't see the new wallet created)

I tested creating a new wallet, and that one no issue.

[2020-07-22 16:14] sophoah opened #28 "UI bug : HRC20 token shows NaN"
In the account tab, when non shard 0 is elected, the HRC20 token will show NaN:

![image](https://user-images.githubusercontent.com/35721420/88200845-46411180-cc79-11ea-8f9c-905dd242bd70.png)

So I know HRC20 for now only works on shard 0 however, having a different message than NaN mentioning about the limitation would be great

[2020-07-22 20:31] mirrormirage0 commented on #25
This is probably an issue only on Windows 7 + Opera.

On Windows 10 + Opera, it looks okay.
![image](https://user-images.githubusercontent.com/29485946/88225590-ce281b00-cc7b-11ea-9221-9c34ff9e901e.png)

[2020-07-23 08:57] err0r711 commented on #25
Also working fine on kubuntu 20.04 + Opera

[2020-07-23 08:58] err0r711 commented on #24
Also working fine on kubuntu 20.04 + Opera

[2020-07-23 09:29] sophoah commented on #25
i think let's close this issue, i am not sure many are still using win 7 :)

[2020-07-23 09:29] sophoah commented on #24
maybe something with win7.

[2020-07-23 09:30] raptor1001 commented on #27
@sophoah can you send me the private key and key store file for the test? You can PM me in the discord

[2020-07-23 09:34] err0r711 commented on #25
https://gs.statcounter.com/os-version-market-share/windows/desktop/worldwide

Win7 | 19.79%, I also thought it was less than 5%.

[2020-07-23 09:58] #24 closed

[2020-07-23 09:59] #25 closed

[2020-07-23 10:08] raptor1001 commented on #27
importing with the private key is working. I just tested. @sophoah

[2020-07-23 12:12] mirrormirage0 opened #29 "Cannot add custom HRC-20 Token"
ONE wallet shows error "Contract address is invalid" when trying to add a custom HRC20 Token contract

![image](https://user-images.githubusercontent.com/29485946/88284556-a928bc00-ccfe-11ea-8e88-97794c92a947.png)

Testnet Contract address #1  0x2450bcede73c289c105e7ff9c7ed4df223cc92f8
Ticker POPS
Decimal 12

Testnet Contract address #2 0x494dfd32b474a2a35020bde7b3da37ef2b61a90d
Ticker MIRROR
Deci

[2020-07-23 14:16] sophoah commented on #29
I confirmed the same problem as @mirrormirage0 used the POPS contract address I created. I tested without 0x but no luck. The HRC20 token works as it was tested using a contract interactor UI https://dev.ript.io/tokentools/thecontractor

[2020-07-23 19:31] raptor1001 commented on #26
![image](https://user-images.githubusercontent.com/54774811/88330586-78d22500-cce0-11ea-9a99-ac670334f637.png)
it cames out like this on my pc

[2020-07-24 16:39] mirrormirage0 commented on #29
Issue is resolved in latest version downloaded on 7/24. https://github.com/harmony-one/onewallet/releases/download/v1.0.0/Harmony_Wallet_v1.0.0.zip
_Kindly follow better naming convention for releases so that its easier to track which version resolved the issue_

![image](https://user-images.githubusercontent.com/29485946/88414201-86290580-cded-11ea-81e8-ea077097ec81.png)

[2020-07-24 16:39] #29 closed

[2020-07-24 16:55] mirrormirage0 opened #31 "Feature Request - Allow deletion of HRC20 Tokens from ONE Wallet"
Feature Request - Allow user to delete accidentally added HRC20 Tokens

[2020-07-24 16:58] mirrormirage0 opened #32 "Cannot Claim Staking Reward - defaults to maximum amount, does not allow to edit"
![image](https://user-images.githubusercontent.com/29485946/88415966-69420180-cdf0-11ea-992f-6c13116cd06d.png)

[2020-07-24 17:03] raptor1001 commented on #32
@mirrormirage0 it's working on my side. I can claim the rewards with the onewallet. What is not working on your side?

[2020-07-24 17:04] mirrormirage0 commented on #32
Closing this. Forgot that amount field is indeed un-editable in all wallet versions :)

[2020-07-24 17:04] #32 closed

[2020-07-24 17:53] mirrormirage0 opened #33 "Cosmetic - Creating an unusually large Token symbol messes up the UI"
https://streamable.com/8pkbj2

[2020-07-25 12:21] sophoah commented on #27
i am closing this one as i also tested the import and it works now.

[2020-07-25 12:21] #27 closed

[2020-07-25 12:21] sophoah commented on #26
@raptor1001 I am on windows 10

[2020-08-04 11:49] mindstyle85 opened #36 "HRC20 contract address bug between mainnet/testnet"
So i added a hrc20 token to testnet on my onewallet, but it shows just there and not on mainnet too. When i switch over to mainnet and want to add the same on there it says it already exists, yet cant see it on mainnet:

NOTE: first screenshot its testnet network selected above, 2nd and 3rd its mainnet

![3](https://user-images.githubusercontent.com/55639830/89290517-4538b880-d659-11ea-9ed8-dfd1df

[2020-08-04 11:55] raptor1001 commented on #36
if that token is deployed to the mainnet, the contact address should be different. You can't add the testnet contact address to the mainnet @mindstyle85

[2020-08-04 12:58] mindstyle85 commented on #36
discussed this with him on discord, the feature to remove smart contracts/hrc tokens is coming, so closing this

[2020-08-04 12:58] #36 closed

[2020-08-07 17:16] yelllowsin commented on #21
This was already removed, closing.

[2020-08-07 17:16] #21 closed

[2020-08-07 17:45] yelllowsin commented on #18
Tested Ledger support on latest version and is working. Closing this.

[2020-08-07 17:45] #18 closed

[2020-08-09 01:27] JB273 opened #37 "UI Bug - Adding new HRC20 token gives only CAPS on "token symbol" input"
When adding a new HRC20 token to the wallet, it show only Capital letters.
Actually when you type the correct value it displays correct after creation, but you don't see it during the creation of the HRC20 token.

Typing:
![image](https://user-images.githubusercontent.com/54506968/89722944-31da7400-d9f0-11ea-9093-1210b412a88a.png)

Displays:
![image](https://user-images.githubusercontent.com/54506

[2020-08-09 13:23] raptor1001 commented on #26
@sophoah is this fixed? can we close this?

[2020-08-09 13:23] raptor1001 commented on #28
@sophoah Is this fixed? Can we close this?

[2020-08-09 14:42] raptor1001 opened #38 "Inputdata field is not working"
![image](https://user-images.githubusercontent.com/54774811/89734928-d4f0b500-da13-11ea-8f3a-f19c5e42c278.png)

[2020-08-10 18:07] gizemcakil opened #39 "1/ Mnemonic mismatch & 2/ failure to see extension while connecting"
From Maker demo users:
1/
![Untitled-2](https://user-images.githubusercontent.com/45907268/89815442-abaa5480-daf9-11ea-9eea-d6cd9d5f5432.png)

2/
![Untitled-3](https://user-images.githubusercontent.com/45907268/89815476-b6fd8000-daf9-11ea-99f8-200acba7f887.png)

[2020-08-13 09:00] raptor1001 commented on #39
@gizemcakil the second issue should be the issue of the maker web app. Do you know who has developed that website?

[2020-08-13 19:27] gizemcakil commented on #39
@raptor1001 if it's Maker website related, then it can be ignored. Yuriy developed it.

[2020-08-13 19:30] raptor1001 commented on #28
this is fixed

[2020-08-13 19:30] #28 closed

[2020-08-13 19:43] #33 closed

[2020-08-17 02:12] #38 closed

[2020-08-17 23:40] mindstyle85 commented on #31
this is done

[2020-08-17 23:40] #31 closed

[2020-08-17 23:43] mindstyle85 opened #45 "hrc20 token sending issue"
i tried to test it and tried sending some VIP hrc20 tokens to its own contract address: 0x162ba1dc64ebf54b4c593665a12f448959ff26b5

it let me through, but then the tx failed in the end (sanity check maybe)

what the real problem is, once i did that, now every address i input as the receiver (when trying to send VIP tokens) is changed into bech32 format of the contract address 0x162ba1dc64ebf54b4c5

[2020-08-17 23:46] JB273 commented on #45
Can confirm this added to that doesn't work with Ledger also! (but this is obvious...).

[2020-08-17 23:46] raptor1001 commented on #45
I don't understand the issue. Sorry

[2020-08-17 23:57] mindstyle85 commented on #45
he now understand, went through him on discord, but looks like this is a general issue with the hrc token sending from onewallet, not because i tried to send to its own smart contract first

[2020-08-18 00:08] raptor1001 commented on #45
Use enough gas limit. Then it would succeed.

[2020-08-26 05:06] dakeshi opened #51 "incorrect balance"
# description
showing incorrect balance for ONE token and hrc20 token. it displays zero on balance regardless my real balance and type of tokens(one or hrc20 tokens)

# reprouduction
- import previous harmony wallet
- check ONE token balance with shard 0.
- add hrc20 token, in this case SEED. contract address is 0x793DAC3Ec4969A5BEE684BcF4290d52feB8F51b4
- check SEED token balance

# result
incorr

[2020-08-26 05:26] dakeshi commented on #51
interesting..issue has gone..um. it might be temporarily issue (like networking)

[2020-08-26 05:26] #51 closed

[2020-08-26 05:27] sophoah commented on #51
Great to hear the issue is gone.

one way to verify is to check directly on the explorer :
can you verify the balance on the explorer :
- mainnet : https://explorer-beta.harmony.one/
- testnet : http://hrc20.easy-staking.com:8080/#/

[2020-08-26 05:30] dakeshi opened #52 "how to delete imported wallet?"
I've added 3 harmony wallet addresses then I tried to find out deleting/managing wallets option on setting. but it has no such option on the current version(1.0.2)

Would you add this wallet management feature to manage wallet addresses efficiently?

[2020-08-27 01:20] dakeshi commented on #51
@sophoah thanks for sharing those links. I can see the current SEED balance correctly on https://explorer-beta.harmony.one/ but I can not figure out SEED on HRC20 balance page using http://hrc20.easy-staking.com:8080/#/

![Explorer___Harmony](https://user-images.githubusercontent.com/8563047/91372541-db25c480-e84e-11ea-8c50-eaabf8cb7f0e.png)

[2020-08-27 15:53] michaelotis opened #53 "Extension interacting with non-blockchain site and causing website functions to fail"
It appears to create some sort of conflict when I attempt to take actions on a Jira dashboard (atlassian.com). I assume it would cause conflicts on other sites that also use some sort of lodash function.

Disabled all extensions and was able to execute successfully, enabling just the ONE wallet extension, it then starts to fail again.

![image](https://user-images.githubusercontent.com/34221002/91

[2020-08-28 09:06] peekpi opened #55 "unable to access onewallet in <iframe>"
remix-plugin is embedded in a <iframe> tag, in the environment, window.onewallet is undefined but math-wallet is working fine.

[2020-09-16 03:30] raptor1001 commented on #37
is fixed

[2020-09-16 03:30] #37 closed

[2020-09-16 03:31] raptor1001 commented on #10
is fixed

[2020-09-16 03:31] #10 closed

[2020-09-16 03:31] raptor1001 commented on #9
is fixed

[2020-09-16 03:31] #9 closed

[2020-09-16 03:31] raptor1001 commented on #45
is fixed

[2020-09-16 03:31] #45 closed

[2020-09-16 03:31] raptor1001 commented on #26
is fixed

[2020-09-16 03:31] #26 closed

[2020-09-16 03:32] #39 closed

[2020-09-16 03:32] raptor1001 commented on #55
is fixed

[2020-09-16 03:32] #55 closed

[2020-09-16 03:32] raptor1001 commented on #39
will investigate this later

[2020-09-25 17:53] sophoah opened #64 "[history] no transaction history when tx sent from non shard 0"
When doing one transfer from shard 1/2/3 to any other shard, the transaction history is not shown.

Shard 0 as a source is working fine.

[2020-10-04 15:44] BrunoMarshall opened #67 "Onewallet - add the option to import a list of predifined tokens, instead of doing it one by one"
The proposal is to add an option to import a list of tokens on the ONEWallet, instead of importing each token separately.
currently the team is developing several DEX ( SWOOP, SeeSwap, Unify,) that will work with several tokens.
The user need to import each one separately.
![image](https://user-images.githubusercontent.com/35432495/95020075-37a7ab00-0669-11eb-8ef1-4ad03d052890.png)

Proposal is th

[2020-10-04 17:43] yelllowsin commented on #67
Another idea is to just whitelist/add these contracts into the One Wallet code for all users since they are legit contracts anyway. Some other wallets like Myetherwallet go even further and implement a logic that:

_If wallet has funds in any any of the whitelisted contracts, shows the token. The user has still the option to add it manually if he wants._

Only worry is that this could be resource

[2020-10-04 22:11] mirrormirage0 commented on #67
I suggest that we have something like "Lists" similar to uniswap.

We could then have "Harmony Verified List", with all tokens vetted by us.

![image](https://user-images.githubusercontent.com/29485946/95028219-bfb0a380-06af-11eb-8a38-a2ef4331e1ec.png)
![image](https://user-images.githubusercontent.com/29485946/95028237-ebcc2480-06af-11eb-98a9-214aaa5c7bcd.png)
![image](https://user-images.githubu

[2020-10-05 00:02] yelllowsin commented on #67
I like this idea, seems much better. Do we have ENS names on Harmony already? I am not sure we have this yet, but i see it accepts lists via https and IPFS as well, so we could use these if we don´t have ENS.

[2020-10-06 15:00] raptor1001 commented on #67
I think harmony doesn't have any official HRC20 Token lists yet. So I am not able to show the list like uniswap. @yelllowsin @mirrormirage0 @BrunoMarshall What do you think? Correct me if I am wrong

[2020-10-07 16:39] #64 closed

[2020-10-07 16:39] raptor1001 commented on #64
fixed

[2020-10-10 07:14] mirrormirage0 commented on #67
@raptor1001
If we can have a simple 2 step workflow as follows, it would be great
1) Harmony Team member submits the Token address
2) Reviewer has option to approve/reject the submitted Token Address
3) If approved, the Token address appears in the List of "Verified Harmony Token"
e.g.
Ganesha could submit the BUSD/ONE contract addresses for ETH-HMY bridge

[2020-10-10 13:23] YoungCao1 opened #69 "wallet keystore in localstorage ?"

[2020-10-17 19:40] SebastianJ opened #70 "Feature request: stop asking for a password for every single transaction"
Why can't OneWallet work like all other Wallets (MetaMask, MathWallet etc) and simply ask for the password once to unlock the wallet so that you don't have to enter the password every single time you issue a transaction?

It's extremely annoying having to enter the password every single time, so much so that I try to stay away from using OneWallet as much as possible in favor of Mathwallet.

Or is

[2020-10-18 12:56] raptor1001 commented on #69
@YoungCao1 what is this issue? can you provide more info?

[2020-10-18 12:56] raptor1001 commented on #53
@michaelotis Is this fixed in the new version?

[2020-10-21 22:41] C10NU7 opened #72 "$ONE Wallet Chrome Extension user experience + suggestions / improvements !!!"
_**Hello 👋, I create this issue after my experience with $ONE Wallet and to suggest a few improvements !**_

1. **Can we add icons for tokens ? These letters (token name) without an icon for tokens it looks awful!**

![No icons!](https://user-images.githubusercontent.com/37934859/96769166-6c489000-13e7-11eb-9449-d741717db357.png)![Tokens icons](https://user-images.githubusercontent.com/37934859/96

[2020-10-22 08:39] SebastianJ commented on #72
Just a bit of clarification for 2. / UniFi: They can add a button in their UI to disconnect from the current wallet, e.g. how it's done in Swoop: http://tools.harmony.one.s3.amazonaws.com/swoop-change-wallets.mov

I haven't looked at the wallet code in detail - but if there aren't events emitted for when you change the address or the active network then we should definitely add that so that the fe

[2020-10-22 08:48] raptor1001 commented on #72
@C10NU7 2. regarding https://harmony.unifiprotocol.com/, I think your feedback is really great. I am not sure who has developed this site but imo, there should be a logout button definitely. In the next version, you will be able to revoke the onewallet session like metamask.
![image](https://user-images.githubusercontent.com/54774811/96847951-a5452c80-1408-11eb-87b2-d960611ff4ee.png)

[2020-10-22 13:04] C10NU7 commented on #72
@raptor1001 Thank you very much for replying ! Looking forward to the next version of the wallet :) . I will let also those guys from Unifi to know that they can as well add a "logout button" on their website !

[2020-10-22 13:51] raptor1001 commented on #72
@C10NU7 I don't understand the 8th point. The wallet connects part. What do you want to improve in the onewallet for that?

[2020-10-22 14:34] C10NU7 commented on #72
@raptor1001 The 8th point is strictly about phone interaction with the $ONE wallet ! At the moment we can't interact with this wallet using the phone! Some websites and dapps have integrated Wallet Connect and through Wallet Connect I am able to connect my trust wallet for example ! Well my question was, if we can make this $ONE Wallet to be also compatible with the phone as it is Metamask or Math

[2020-10-22 14:38] raptor1001 commented on #72
@C10NU7 oh so you are talking about the mobile ONEWallet?

[2020-10-22 14:45] C10NU7 commented on #72
@raptor1001 Exactly! $ONEWallet mobile 👍

[2020-10-22 18:42] michaelotis commented on #53
@raptor1001 Yes, it appears to be. Thanks!

[2020-10-22 18:42] #53 closed

[2020-10-27 02:03] thelostone-mc opened #73 "error signing transaction -> transaction failed:nonce too low"
### Description

[code]

[code]

On sending transaction -> i get the message
`transaction failed:nonce too low`

The from address is https://explorer.pops.one/#/address/one1crzp6qhczwms38uchngp3xk04ak48ghlky0jkc

It seems to work alright when I do it harmony-core and sign with the private key!
A lil confused if I'm doing something wrong !

Also if i don't pass the gasprice -> does the wallet auto-

[2020-10-27 03:19] thelostone-mc commented on #73
When i do this

[code]

it goes through

[2020-10-28 17:29] raptor1001 commented on #73
@thelostone-mc first of all, I am curious how your second try works
[code]
Here, you are confused the chainID and chainType. `chainid` should be testnet and `chaintype` should be harmony.
If you fix this, I think it should just work.

No

[2020-10-29 10:19] thelostone-mc commented on #73
Ah sorry ! I typed it out wrong while creating the issue!

[code]

is what I've used

[2020-10-30 23:33] JB273 opened #76 "After removing BUSD from tokens-list some weird behaviour"
Removed the BUSD token on the testnet and see this duplicate LINK on the tokens list:
![image](https://user-images.githubusercontent.com/54506968/97764942-93524080-1b10-11eb-8b19-342952e9320f.png)
The second LINK entry keep searching, as said only on testnet and after removing BUSD.

Can be fixed when removed, but shouldn't be there in the first place.

[2020-10-30 23:36] JB273 commented on #76
When removing the LINK from here both entries disappear, so might be a bug after all (generates duplicate entry after removing BUSD token)

[2020-10-31 07:22] sophoah opened #77 "[BUG] [1.0.6] adding new token doesn't automatically add the token name and decimal"
there is a little short spin that appears for both token name and decimals after pasting the contract address. in 1.0.5 it worked fine.

[2020-10-31 07:26] sophoah commented on #76
Same behavior identified, keep spinning,

[2020-11-01 17:21] raptor1001 commented on #77
@sophoah it's not a bug. I added it intentionally because there is a little delay to get the token name and decimal.

[2020-11-03 05:41] thelostone-mc commented on #73
@raptor1001 / @NiteeshHarmony any idea what could be causing this?

[2020-11-04 00:55] lijiang2087 opened #78 "[BUG/issue] unlocking some of the wallets"
i have 4 wallets on the 1wallet and now it's asking for all my password. i can access 3 of them 4, but not the 4th one. can i just have an option to NOT unlock that one, but get access to the 3 i do know.

[2020-11-04 00:56] lijiang2087 commented on #78
specifically the first 3 wallets i can unlock, but if there is 1 wallet user cannot unlock, then there should be a way to bypass that and just not add that 4th wallet, but still be able to use the 1wallet extension with just the 3 wallets i could unlock.

[2020-11-05 19:24] raptor1001 commented on #73
hey @thelostone-mc
This line is not correct https://github.com/thelostone-mc/web/blob/19f2750659a482fe0249ac266700e82b29f2a908/app/assets/v2/js/lib/harmony/utils.js#L94
It should be `new hmy.utils.Unit(1).asGwei().toWei()`. Gas price doesn't mean the amount.

[2020-11-06 09:05] thelostone-mc commented on #73
is there an API i can invoke to find out what the gas price at that given point in time ?
Not super clear on what to set the gasPrice value to.

Ah that's why I was asking regarding this but yeah I'll switch it over to `new hmy.utils.Unit(1).asGwei().toWei()`

[2020-11-06 09:42] thelostone-mc commented on #73
@raptor1001 updated the same but still the same error
https://github.com/thelostone-mc/web/blob/harmony/app/assets/v2/js/lib/harmony/utils.js#L94-L104

I am testing it out in testnet ! Is it possible it's something which happens only in testnet ?

[2020-11-06 09:45] raptor1001 commented on #73
Refer to this code. This is working one
https://github.com/harmony-one/staking-dashboard/blob/06eaeb546bec7ffda3867a0771b067e399a5ca07/frontend/src/scripts/onewallet-utils.js#L23

[2020-11-06 10:26] thelostone-mc commented on #73
the only diff i see if where you
- convert the from and to address to the checksum value
- I've tried setting the gas limit to 8000 and gas price to `gasPrice: new hmy.utils.Unit(10).asGwei().toWei(),`

The main difference being you've used the npm module while I've used the bundle file generated by running `npm run build` on the `sdk` repo which I've included here https://github.com/thelostone-mc

[2020-11-06 10:35] thelostone-mc commented on #73
Example of it working with private key signed in code
https://share.vidyard.com/watch/yYEMzKfShy4mC8LVgQK7LC?

Example of the nonce too low error
https://share.vidyard.com/watch/KP6CzAXD3vo1t3v2Rg1Z6F?

[2020-11-06 11:12] newcodepusher opened #79 "DAPP Login"
Hi, login does not work, I tried your example from the [documentation](https://github.com/harmony-one/onewallet/blob/master/readme/api.md#use-the-harmony-extension-object)

[code]
but the same code works with MathWallet, for your wallet need a different approach?

And I tried using wallet in [IDE Remix](https://ide.harmony.one/) and also only Edgeware wallet works

I trying Harmony One Wallet 1.0.

[2020-11-06 12:20] thelostone-mc commented on #73
@raptor1001 to make it easier to check, I just spent 30 min setting this up with only the harmony extension integration
Would appreciate it if you could pull it in and test it out

https://github.com/thelostone-mc/harmony-test/tree/master

[2020-11-06 12:26] raptor1001 commented on #73
@thelostone-mc
import this library
`const { Messenger, Provider } = require("@harmony-js/network");`
https://github.com/thelostone-mc/web/blob/aac95adeb6546158d1331eae136035922023562e/app/assets/v2/js/lib/harmony/utils.js#L50
Change this line with this.
[code]
You can customize the chaintype and chainid of Messenger.
Let me know if this doesn't work

[2020-11-06 12:44] thelostone-mc commented on #73
Tha did the trick !
Thanks a ton @raptor1001

[2020-11-07 11:58] #73 closed

[2020-11-29 02:22] pamo3ngkas opened #80 "How do I access the wallet address that ONE Wallet (extension) automatically creates?"
When I transfer $ BUSD from One Wallet (Chrome Extension) to $ BUSD Trust Wallet, the destination address on Trust Wallet  automatically change (maybe because Trust Wallet doesn't support HRC20 yet).
It should be like any other wallet, if there is a mismatch in the destination address, the wallet will refuse or at least give a warning.
But without warning, the transaction continues by changing aut

[2021-01-08 00:16] JB273 opened #84 "OneWallet 1.0.9 - No shards shown when send with Ledger Nano S connected"
When using OneWallet with Ledger and select send from within the wallet a couple of things happen.
1. It opens a full screen browser tab
2. It doesn't display the shards
![image](https://user-images.githubusercontent.com/54506968/103958955-b4599200-514e-11eb-9bdb-29770e61f3bf.png)

Browser: Edge Chromium edition
Ledger Nano S with Harmony 1.0.2 (standard from ledger Live)
OneWallet 1.0.9

[2021-01-08 01:26] #76 closed

[2021-01-08 01:27] #77 closed

[2021-01-08 01:28] raptor1001 commented on #80
@pamo3ngkas I haven't understood clearly. Can you tell me more?

[2021-01-08 21:18] JB273 commented on #84
This works correctly with the last 1.0.9 version

[2021-01-08 21:18] #84 closed

[2021-01-13 07:13] alanwilhelm commented on #79
Amazing you never got an answer for this.

[2021-01-14 01:07] yelllowsin opened #85 "Transaction rejected: HRC721"
When I import a wallet using the import account->private key, buying NFT's txs fail:
One Wallet version: **v1.1**

<img width="360" alt="image" src="https://user-images.githubusercontent.com/7217595/104530749-70054080-55eb-11eb-80c2-cc1d08943cb6.png">

This is one example of a failed tx: https://explorer.testnet.harmony.one/#/tx/0x75d31374cfd3c24a88755a4321d3cc129054e8f0451fd92d7a7d68364c97f725

W

[2021-01-14 01:56] yelllowsin opened #86 "HRC721: Invalid array length"
When listing the NFTs of the contract 0x36c61562d62a117d6eb9f5c4e229b8b729338d33 I am getting this error below. I was able to add the HRC721 token without issue. Issue happens when I click on it to list the time.s

<img width="355" alt="image" src="https://user-images.githubusercontent.com/7217595/104533441-24ee2c00-55f1-11eb-855d-0aa9b739f3da.png">

[2021-01-21 15:50] deblanco commented on #79
Hi, I'm facing the same issue, I tried to run the same login approach using the interface that the Wallet Plugin injects on `window`:

[code]

Seems that the promise never resolves.

[2021-01-21 16:00] raptor1001 commented on #79
@deblanco @alanwilhelm @newcodepusher can you install this extension?
https://chrome.google.com/webstore/detail/harmony-one-wallet/fnnegphlobjdpkhecapkijjdkgcjhkib
And this code should work. I've tested just now.
[code]

Let me know if you have any questions

[2021-01-28 07:15] pamo3ngkas commented on #80
I have made the mistake of transferring $ BUSD from "ONE" Wallet (Chrome Extension) to the $ BUSD Trust Wallet.

[2021-01-31 20:36] alanwilhelm commented on #79
I still have the same problem. The promise just hangs forever.

[2021-01-31 20:43] alanwilhelm commented on #79
Removing the plugin and reinstalling it, even tho it appears to be the same version did indeed help.

[2021-02-03 00:58] mindstyle85 opened #88 "popup for password input not showing in 1.09"
As stated, the popup doesnt show and the issue starts when onewallet updates and inputting the password doesnt work, eg. nothing happens after hitting confirm.

Then we ask users to clear cache/cookies or redownload the onewallet, then they experience the issue where the popup doesnt even show.

For now we have no clear solution on that, some somehow manage to get past it at some point, no idea ho

[2021-02-03 15:42] deblanco commented on #79
I noticed with only disabling and enabling again the Plugin make it works 😩

[2021-02-04 14:35] yelllowsin opened #89 "Customize transaction nonce"
We need to allow One Wallet to allow customizing the transaction nonce. I would recommend creating an advanced option to enable this when users need like on Metamask. This is needed, so users can cancel txs that are stuck at a certain nonce by sending another tx to the same nonce with a higher gas fee. Without that, users cannot cancel txs.

<img width="299" alt="image" src="https://user-images.gi

[2021-02-18 15:40] solvizz opened #91 "ethereum vs. harmony address format ui display"
On main screen there is address format selector, in the form of either Harmony or Eth logo.
This is very confusing, especially to new users or those new to crypto as such.
There are numerous cases reported in internet where people confuse addresses and send coins to wrong address from other blockchain that looks similar to their current blockchain. Thus funds become unrecoverable. So, this is an i

[2021-02-23 09:46] err0r711 opened #92 "One Wallet 1.1.2 can't access menu bar"
![Untitled](https://user-images.githubusercontent.com/31262326/108825903-e53d3b80-75c3-11eb-9eae-79c6253f395b.jpg)

win 7, chrome and opera

[2021-02-26 21:10] reaganh17 opened #93 "No pop up during sign in"
On my current laptop, while on the site where you sign in with your wallet to stake, https://staking.harmony.one/onewallet, the Sign In button doesn't not pop up the window for the extension.

![image](https://user-images.githubusercontent.com/67028825/109355313-e379af00-7833-11eb-86e8-2d71091e56d8.png)

I've tried this on both Chrome and Brave, and in incognito modes for both. Also tested with Op

[2021-02-26 21:11] 0xlocker commented on #93
@hypnagonia can you help this user? @reaganh17 what onewallet version are you using?

[2021-02-26 21:12] reaganh17 commented on #93
It's the latest version from the Chrome extension store. It's the first time I've used it so I have no trace of the deprecated version on my system.

[2021-02-27 06:53] hypnagonia commented on #93
@reaganh17 any errors in console?

[2021-02-27 11:12] yelllowsin opened #94 "Invalid hexidecimal string"
I am having an issue using One Wallet 1.1.1 when trying to approve a proposal via Snapshot here:
https://hmny-governance.netlify.app/#/staking-testnet/proposal/QmZrKwfYV6xXb52xupHRpH52tywANJBhrPBPUtJjGDxgkL

As you can see, this proposal is already approved now because when i tried via Metamask it worked.

Detailed error message here:
`Signing by Test 1
one170xqsfzm4xdmuyax54t5pvtp5l5yt66u50ctrp
D

[2021-02-27 15:05] hypnagonia commented on #93
could you also reinstall wallet and try again. will it help?

[2021-02-28 01:22] reaganh17 commented on #93
@hypnagonia have tried reinstalling on all browsers, same issue. Restarted many times as well.
How do I check for errors in the console?

[2021-03-01 19:01] reaganh17 commented on #93
@hypnagonia @0xlocker Just an update here, I did an Inspect and looked at the Console for errors.
Right upon loading of the page for https://staking.harmony.one/onewallet, I get an error for manifest.json:1
It says: Manifest: Line: 1, column: 1, Syntax error.

However I noticed that same error also show up on the main page of https://staking.harmony.one/validators/mainnet

On the https://staking.h

[2021-03-10 12:04] cristian-smocot commented on #93
I am having the exact same issue, Chrome extension v1.1.2

[2021-03-26 02:59] vajrasan commented on #93
This is not a fix but i found a workaround. If the sign in button doesn't work, you can open another tab and enter the address "chrome-extension://fnnegphlobjdpkhecapkijjdkgcjhkib/popup.html#/login" to accept your wallet and then go back to the sign-in page and click the sign-in button to access the staking website

[2021-03-28 13:16] jkn93 opened #95 "Ledger Nano S not detected @ Linux"
The hardware wallet is not detected on a linux system, works fine on Windows.
I got the same issue on https://staking.harmony.one/

OS: OpenSuse Tunbleweed
Browser: Brave

[2021-04-04 21:02] vhsava commented on #93
thanks for the workaround, that fixed it for me.

I had the same issue-- the Sign In did nothing :
DevTools failed to load SourceMap: Could not load content for chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/sourcemaps/disable-console.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

[2021-04-18 09:43] medalark commented on #93
I have the same problem. What I've found is that in Display Settings (Windows 10) if I have the Scale and layout set to 175%, sign in button does nothing. If I go to 150% or 200% it is fine. 225% also doesn't work for me and I have confirmed this on 2 separate machines.

[2021-04-24 18:45] bmgalego opened #96 "Chrome crash removes all wallets"
When chrome crashes sometimes it removes all wallets from the extension and it only happens to Harmony wallet, metamask for instance doesn't happen. I have tried to crash the chrome to see if happens but couldn't reproduce the same result so don't know how to test this. But I found some code in the metamask repo that may help this.

I think this is where harmony deletes the wallets
https://github.

[2021-05-03 22:47] reaganh17 commented on #93
@medalark that solved my problem! I switched it to 200 to see, and I just saw the bottom of the pop up window. What a bizarre problem! I've never had this on any other site before and I've been on 175% for almost 5 years now.

Thanks to @vajrasan for the workaround help as well!

[2021-05-27 11:32] taqyon opened #97 "UI Problems with onewallet extension"
# Hi guys!

I have a problem with the application interface, it looks like this:

<details>
<summary>Pic</summary>

![Снимок экрана 2021-05-27 в 14 28 13](https://user-images.githubusercontent.com/14002721/119818389-cc606100-bef7-11eb-905d-0d3bc39bc494.png)

</details>

### What's up
When you call the application, the interface is cut for some reason. I can't interact with the top part of the appl

[2021-05-27 11:33] taqyon commented on #97
One guy from chrome extensions have the same issue:
![Снимок экрана 2021-05-27 в 14 33 00](https://user-images.githubusercontent.com/14002721/119818946-8061ec00-bef8-11eb-96ca-723720d2c1f3.png)

[2021-05-27 19:02] jtrag commented on #97
Same here...  I'm having the same issue.  I can't send ONE to buy something that's currently very low and going up in price.  I want to get it before it goes up much more but I'm missing the opportunity because of this.  It already went up by 10% while I was trying to get Harmony wallet extension to work properly.  I'm missing opportunity/money here!  Please help!  lol

[2021-05-27 19:14] taqyon commented on #97
its funny, but you can use [MS Edge Browser](https://www.microsoft.com/en-us/edge), it works properly on it:
![Снимок экрана 2021-05-27 в 22 12 03](https://user-images.githubusercontent.com/14002721/119884022-df475580-bf38-11eb-8501-eca5dfac42cc.png)

---

it seems problen in last google chrome version

[2021-05-27 19:43] jtrag commented on #97
I was thinking the same thing.  Must be an update to Chromium because Brave browser just updated when I restarted it and now Harmony Wallet extension is cut off at the top and I can't use it.  Before that it was fine.

[2021-05-27 19:45] taqyon commented on #97
Try edge, so you don't waste your time

[2021-05-27 19:56] jtrag commented on #97
It seems that something they updated in Chromium broke the extension.  Developers are supposed to stay on top of these things before they are officially released and pushed out to the masses.  It's usually as simple as using the latest development version of Chromium or other browsers, to test the Harmony extension and make sure it's good to go before the code goes into a release/stable version of

[2021-05-29 15:43] taqyon commented on #97
There is some info i found in harmony chat:

chrome-extension://fnnegphlobjdpkhecapkijjdkgcjhkib/popup.html#/home

[2021-05-29 21:14] JB273 commented on #97
Doesn't work for me on Edge either!

![image](https://user-images.githubusercontent.com/54506968/120084812-98da2e00-c0d3-11eb-8911-f6735d9d79f8.png)

[2021-05-29 21:23] taqyon commented on #97
try this: https://github.com/harmony-one/onewallet/issues/97#issuecomment-850853720

[2021-05-30 17:17] jtrag commented on #97
I just turned on Developer Mode in extensions on Brave and did a manual update, and the Harmony Wallet is now working properly!  👍

[2021-05-30 17:19] taqyon commented on #97
there is new release: https://github.com/harmony-one/onewallet/releases/tag/v1.2.2
i think this problem would disappear soon

[2021-05-31 11:48] taqyon commented on #97
The problem has been solved and is no longer relevant

[2021-05-31 11:48] #97 closed

[2021-05-31 11:48] taqyon commented on #97
big thanks to https://github.com/ethlocker

[2021-05-31 11:49] taqyon commented on #93
If your problem is no longer relevant, can you please close the issue?

[2021-06-21 02:07] GalaxySSX999 opened #99 "Harmony One Wallet Import Account Function Using 12-Word Mnemonic Seed Phrase Opens Incorrect Wallet"
**Issue:** Harmony One wallet browser extension import using seed phrase does not restore original wallet, but opens or generates a different wallet address with zero balance.

Any help is appreciated, here's a short summary of events (maybe not so short):

- Wanted to stake my ONE, so installed Harmony One wallet extension on Brave a few weeks back while waiting for Binance to allow ONE token wit

[2021-06-21 02:40] StrongMindsHold commented on #99
I can confirm this issue has been reported by no less than 10 people.

[2021-06-21 04:30] carslanyan commented on #99
I have this same issue which I reported to the Community Manager on 4 May.  I can also replicate this issue as well, as required and at will using the Harmony ONE wallet plugin on Chrome, Brave, and by using the Blits mobile wallet.  Each time, the 12-word mnemonic opened the same yet incorrect wallet (in other words, not my wallet it used to open, with my ONE balance).

Currently, I have control

[2021-06-21 13:29] #86 closed

[2021-06-27 06:50] dsiritz commented on #99
I am having the exact same issue as the OP. I had made a transfer off the Harmony One wallet extension 2 months ago just fine and now when I am trying to delegate my ONE to a staking pool my password is incorrect no matter what. I'm computer savvy and have tried to exercise every possible solution under the sun to no avail. I finally tried to import my wallet with the 12 word phrase and was signed

[2021-06-27 11:06] sophoah commented on #99
@ethlocker can you please have a look at that issue. Thanks

[2021-06-28 07:25] DavidWhicker commented on #99
I can also confirm I have heard reports of the same issue particularly around a new wallet address with the 0 balance from the seed phrase. 10 or so people so far.

A quick google on seed phrases returning multiple address seems very common ( at least on etherium network )

Something to do with derivation path and having the right one.

Means nothing to me but might to you guys.

[2021-06-28 07:30] dsiritz commented on #99
This needs attention ASAP. My ONE is untouchable in my wallet still.

[2021-06-28 09:18] ethlocker commented on #99
@dsiritz Can you share more details in the telegram? I need more information to debug it.

[2021-06-28 11:11] GalaxySSX999 commented on #99
@ethlocker dsiritz and carslanyan mentioned having the same issues as I have, which is described in my opening post; what sort of additional details are you looking for, specifically, and in what telegram?

[2021-06-28 15:42] ethlocker commented on #99
@GalaxySSX999 can you share your address with an empty balance? I need to find the relevance between the two addresses

[2021-06-28 16:28] GalaxySSX999 commented on #99
@ethlocker Certainly, here it is: https://explorer.harmony.one/#/address/one18ypg4wxt6lr7gfp6eassal3hh6qssx650pst6e

[2021-06-30 00:58] coolcottontail commented on #99
@GalaxySSX999 . It might be some configuration issue with different javascript versions.
Since we can't see your passphrase ....  do you mind running the following node.js code locally to see if you can generate correct address ? PLEASE replace mnemonic string with yours.  This requires node.js.

Step1 . install depency
npm install @harmony-js/core@next
npm install tslib
Step2:  paste the followin

[2021-07-02 05:40] GalaxySSX999 commented on #99
@coolcottontail Thank you; I'm not a coder but can learn real frakin' quick, still, please bear with me - I followed your step by step instructions and I get same incorrect wallet address as a result:

[2021-07-02 17:50] camino2007 opened #100 "SignIn Button doesn't work"
I would love to stake some ONE, but I cant sign in. :/
This one didn't help: https://github.com/harmony-one/onewallet/issues/93
I also tried to clear my cache but still no success. Maybe it's because I'm on LinuxMint?
I have installed the latest Harmony Wallet extension for Chrome and already some ONE in it.

Any help is appreciated!

[2021-07-02 17:53] ethlocker commented on #100
can you try with the brave browser?

[2021-07-02 22:51] camino2007 commented on #100
Been there, done that. Same problem.
All PopUp blocker are disabled.

![Screenshot from 2021-07-03 00-47-48](https://user-images.githubusercontent.com/5411366/124334735-573c1780-db98-11eb-9af5-c1f74a445f29.png)

Please let me know, when you fixed this bug.

[2021-07-02 22:56] ethlocker commented on #100
I just checked with my Brave Browser`(Version 1.25.73 Chromium: 91.0.4472.106 (Official Build) (x86_64))` and Harmony One Wallet 1.2.3 and it's working.
What version of brave browser do you use?

[2021-07-02 23:08] camino2007 commented on #100
Brave: Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)
Wallet Version: v1.2.3

As it seems I'm not the only one:
https://www.reddit.com/r/harmony_one/comments/o90bb4/i_cant_get_harmony_one_wallet_to_work_the_web/

[2021-07-02 23:28] rlan35 commented on #99
When you first created the recovery phrase in one wallet. Is it on chrome browser or Brave or any other browser? Did you change browser during this period?

[2021-07-04 18:14] DylanCkawalec opened #101 "ONE-Wallet should be accessible through testnet"
There's been issues surfacing in the developer community about the accessibility of the 1Wallet and it's use in testnet. In order for wallet users to deploy a contract, they have to test their application on mainnet since the test net does not work.

When funds are distributed to the 1wallet, there's been additional mainnet issues where users are loosing their funds while testing the application.

[2021-07-04 18:41] GalaxySSX999 commented on #99
All on Brave

All on Brave

[2021-07-05 04:20] AndyBoWu opened #102 "TRANSFER | Account Balance not Updated"
Account balance not updated after a successful cross-account transfer.

Screenshot:

<img width="1208" alt="Screen Shot 2021-07-04 at 9 17 09 PM" src="https://user-images.githubusercontent.com/5258417/124417104-49f46980-dd0d-11eb-846f-787d6116f8ca.png">

URL: https://explorer.harmony.one/#/address/one154774x02yapmrr6cj3pppz44vk80kfuf28rsgd

Step to Reproduce:

1/ create a brand new 1wallet account

[2021-07-05 04:30] AndyBoWu opened #103 "PRODUCT | Please Clearly Stated Which Authenticator Should be Used"
I discovered this issue when I am testing the `restore` functionality.

I created my first 1wallet account using [Authy](https://authy.com/) which is as popular as Google Authenticator, if not more. The problem is that the wallet restoring functionality relies on a feature by Google Authenticator to export the account. I could not find this feature in Authy, at least not to my knowledge.

<img wid

[2021-07-05 04:45] AndyBoWu opened #104 "PRODUCT | Enforce 2FA to Access Account Once the Previous Tab/Session Closed?"
One potential security concern I have is that this account is open to anyone who has the access to this computer.

Let's say I closed the wallet tab (or even force quit the web browser), the wallet is open to anyone whoever load this wallet webpage. Not a very secure design I think.

Maybe force user to set a password to re-access? And this password should be essential to do a transfer too IMO.

<

[2021-07-05 10:13] ethlocker commented on #104
This repo is not the right place to ask about 1wallet.crazy.one.

[2021-07-05 10:15] ethlocker commented on #103
This repo is not the right place to ask about 1wallet.crazy.one.

[2021-07-05 10:15] ethlocker commented on #102
This repo is not the right place to ask about 1wallet.crazy.one.

[2021-07-05 16:25] AndyBoWu commented on #102
Then, which repo should I submit the bug to?

[2021-07-05 16:25] AndyBoWu commented on #103
Then, which repo should I submit the bug to?

[2021-07-05 16:26] AndyBoWu commented on #104
Then, which repo should I submit the bug to?

[2021-07-05 22:06] lijiang2087 commented on #104
add it here: https://github.com/polymorpher/one-wallet

[2021-07-05 22:06] lijiang2087 commented on #101
this has been resolved.

[2021-07-05 22:06] #101 closed

[2021-07-05 22:07] lijiang2087 commented on #103
https://github.com/polymorpher/one-wallet

[2021-07-05 22:07] #103 closed

[2021-07-05 22:07] #104 closed

[2021-07-05 22:07] lijiang2087 commented on #102
https://github.com/polymorpher/one-wallet

[2021-07-05 22:07] #102 closed

[2021-07-06 03:53] copalli commented on #99
I have exactly the same issue. Were you guys able to fix it? It's exactly the same. I was about to make a post about it.

[2021-07-06 22:52] rlan35 commented on #99
were you also using brave? and did you update the one wallet before and after the problem?

[2021-07-06 22:54] rlan35 commented on #99
which browser were you using for the one wallet extension?

[2021-07-07 05:23] copalli commented on #99
I originally used Chrome. Back in January an address was created with the intentions to stake One. But it was until a month ago I transferred all my Ones. When I downloaded ONE Wallet never connected to the existent address. I installed and uninstalled wallet extension many times and tried on Brave also.. still the same error: “deprecated, blocked by chrome…”

[2021-07-07 05:28] rlan35 commented on #99
Can you add me on discord? would like to know more details: Rongjian Lan | Harmony#9543

[2021-07-07 14:42] carslanyan commented on #99
Please let me know if I can provide further detail as I was only able to regain control of my wallet by dumb luck - meaning I found the private key.  The 12 word mnemonic still does not open the correct wallet, but a 100% brand new one.  This used to work, and last worked in March/April 2021.  I also tried in Chrome, Brave and the Blits mobile wallet.

I am concerned more people are having this is

[2021-07-12 14:32] satyasandeep007 opened #105 "integrate Transak to provide on ramp to $ONE"
Link of our technical documentation

https://www.notion.so/transak/Integrate-Transak-f43cbb5dc7fa4d068a044ef9589879bf

[2021-07-22 16:51] GalaxySSX999 commented on #99
Any news on a resolution to this issue?

[2021-07-22 21:06] dsiritz commented on #99
No, I'm still being queried on whether or not I've written down an incorrect mnemonic phrase etc. This is really beginning to get frustrating being asked if it's my issue and not a critical security problem within the wallet.

[2021-07-23 16:55] hypnagonia commented on #99
guys we are investigating
could you contract me
Discord Jenya :guitar:#2213
tg zunso

i need to know at least
1 when was the first installation (wallet version or approximate date, browser)
2 if the first installation still available (even if password doesn't work anymore)
3 when you noticed that mnemonic generates new account (what changed, wallet version/date)

[2021-07-24 18:21] GalaxySSX999 commented on #99
Sorry hypnagonia, but my requests to add Jenya :guitar:#2213 on Discord keep failing...

First installation was on Brave, a few weeks before June 19, 2021; I don't know what the wallet version was at the time.

No, it was removed on June 19th 2021.

On June 19th 2021, I attempted to reset the password by removing and re-installing the browser extension, and importing wallet using mnemonic, but a d

[2021-07-26 18:39] hypnagonia commented on #99
you can find me in harmony public channels or leave your nick name and i will add you
currently we are lacking of information how to reproduce the problem. i tried both Chrome and Brave, all available wallet versions, including deprecated staking wallet and keep getting consistent key pair from mnemonics.

[2021-07-26 19:13] GalaxySSX999 commented on #99
My discord nick is Manu_Forti#0384

It's too bad you're not able to reproduce the problem, and I'm not sure what other info will help, but you can be certain that I and the others in the same situation are not making this up!

[2021-07-28 15:31] hypnagonia commented on #99
sent you request
yes, I am sure that problem is real, just have not found the cause yet

[2021-08-03 15:29] hypnagonia commented on #99
hey, can you connect me with other people so we can get more details about the issue?

[2021-08-07 02:47] copalli commented on #99
My issue still not solved either :( I have the exactly the same problem as you guys,

[2021-08-10 14:43] DavidWhicker commented on #99
This issue is not specific to the One Wallet - it has appear on users with Blits wallet ( most recently confirmed today on a facebook group ). The user took a screenshot of his seed phrase when he created his blits wallet so its not an issue of incorrect phrase

[2021-08-10 20:27] dsiritz commented on #99
This is sad to see. I'm still conversing with Harmony devs to fix the issue and regain access to my wallet. This has been incredibly difficult to deal with having my money locked away while being without income during lockdowns. It's been nearly 2 months without access to my money now.

[2021-08-10 20:30] DavidWhicker commented on #99
Hopefully they will sort it.

This is just an idea and it's a 50/50.

Enter your seed phrase into trust wallet. This Blits user actually saw the correct account within trust even though Blits showed a new wallet. From trust wallet you 'should' be able to export the private key ( not the seed phrase )!

Once you have the private key import into One Wallet using the private key instead of the seed p

[2021-08-10 20:37] dsiritz commented on #99
Just tried it and it still opened the empty new wallet. Thanks for the suggestion 👍

[2021-08-10 20:42] DavidWhicker commented on #99
Very odd how it worked for him and it you. I wonder if it's random when you import the account each time. Worth trying on trust a couple more times before ruling it out. Good luck

[2021-08-16 03:26] justinasfour04 opened #106 "HRC-721 images not showing"
I'm not sure if this is the issue but it seems like if the nft.uri is missing the following place holder gets displayed
https://github.com/harmony-one/chrome-extension-wallet/blob/cc1e524f5df3caf789ccc2a48a48042079398944/src/popup/pages/Token/HRC721/Gallery.vue#L21

![image](https://user-images.githubusercontent.com/6599551/129507536-f5c83bf0-19c9-464f-90b7-9c64a81d0073.png)

The nfts of Harmonaut

[2021-08-19 07:45] sophoah commented on #106
@ethlocker are you the correct person to look at that issue ?

[2021-08-19 07:46] Tailchakra opened #107 "Incorrect transaction history balance"
When I was looking at the transaction balances, I noticed wrong balances. Seems when I use the decodeInput myself I get the same incorrect balances.

![image](https://user-images.githubusercontent.com/24505478/130028933-2dd62302-d648-4745-9d26-e72936a5f544.png)

[2021-08-19 07:46] sophoah commented on #100
@camino2007 do you still have the issue ? else i can close that issue, let me know. Thanks

[2021-08-19 07:50] sophoah commented on #95
hey @jkn93 do you still have issue ?

[2021-08-19 07:51] sophoah commented on #94
Do you still have the issue @yelllowsin if not let's close that one

[2021-08-19 07:53] sophoah commented on #69
i am closing this one since there was no answer

[2021-08-19 07:53] #69 closed

[2021-08-19 12:22] yelllowsin commented on #94
Hey @sophoah can you please create a new proposal on testnet so I can test this again? Unfortunately I don't have a validator running, so can't create at the moment. Thanks

[2021-08-20 03:57] sophoah commented on #107
@ethlocker @hypnagonia could you have a look

[2021-08-21 17:42] jkn93 commented on #95
yes, still 'No compatible devices found' w/ both wallet and the staking website.

[2021-08-22 07:11] sophoah commented on #95
@ethlocker is that something you can look at ?

[2021-08-22 12:36] yelllowsin commented on #94
Tested this on latest One Wallet version and could not reproduce the issue anymore, seems to be fixed. Tested voting on: https://gov.harmony.one/#/staking-testnet/proposal/QmeSm7x9JoE1J49ERj8x39tb2Jwbi27wh4WsBXoceSkp3p

[2021-08-22 12:36] #94 closed

[2021-08-22 13:22] rooiie commented on #92
We are allready in version 1.2.4.
Can't seem to find the issue anymore

[2021-08-22 13:32] rooiie commented on #78
as of the recent version(v1.2.4) the onewallet uses a pin for all wallets inside. if you want to do a transaction you will have to use the password for the specified wallet.

[2021-08-22 13:40] rooiie commented on #85
in version 1.2.4 NFT buy with private key imported wallet works

[2021-08-22 13:44] rooiie commented on #88
Tried it on Chrome and brave and the wallet seems to be popping up to confirm.
Tried with a newly created wallet, mnemonic imported wallet and a private key imported wallet, seems to be working all fine with me. version 1.2.4

[2021-08-22 13:46] yelllowsin commented on #92
@rooiie thanks for checking, closing this one.

[2021-08-22 13:46] #92 closed

[2021-08-22 13:48] yelllowsin commented on #78
thanks for checking, closing this one. If issue remains, please reopen it.

[2021-08-22 13:48] #78 closed

[2021-08-22 13:48] yelllowsin commented on #85
thanks for checking, closing this one.

[2021-08-22 13:48] #85 closed

[2021-08-22 13:58] rooiie commented on #100
on brave there is also a workarround for extensions wich do not work.
adding @@127.0.0.1 as an exception in brave://adblock

this prevents a block on the extension.

[2021-08-22 19:28] #88 closed

[2021-08-29 14:00] blockArvind commented on #99
Hey, back your original wallets private key, and reinstall the wallet and import it !

[2021-08-29 14:05] blockArvind commented on #99
I have gone through the above issues, to prevent further complications, encourage everyone using one wallet to backup private key as well.

[2021-08-29 21:16] GalaxySSX999 commented on #99
Are you kidding? This is a known wallet issue and the Devs are looking into it. Nobody here is asking for a refund, we just want our wallets to work, so you can take your insinuations elsewhere.

[2021-08-30 02:31] theadopbeo commented on #99
Read it again properly, "no judgement with the above issues"
I said it can also be used maliciously and explained how it can be used maliciously.

I aslo suspect there might be an issue with code. One more audit will solve that discrepancy.

[2021-08-30 02:39] theadopbeo commented on #99
Edit : I am not a native English speaker, pardon me for grammatical mistakes and edits.

[2021-09-06 19:34] Peepspud commented on #99
This issue has now occurred to me. I wrote all my seed phrase down. Though mine is 24 words not sure when this was changed. Anyhow not getting any one in my wallet when I had some before i restored it :( Hopefully this can be sorted.

[2021-09-06 19:52] Peepspud commented on #99
happy to provide the address I should be accessing and the new one it has restored. Not sure what to do now.

[2021-09-09 11:45] Peepspud commented on #99
Ok so wonder whether anyone is still looking at this issue. The addresses which I would like to query as follows.
Address which I now get from entering my mnemomic phrase:
Harmony wallet chrome extension: one1yl5wg4xhqz72q99s8xz9gqs8rq88vnlxgf7ftp
Address which I should be accessing sourced by looking at my delegated pool and remembering how many one i had:
one1cksjqm4g0tgepj9q653vptf5n3e0a79fysx6

[2021-09-10 09:57] Cryptodogg1 commented on #100
I'm having the same problem as well.  Nothing happens when I click the sign-in button..in both Chrome and Brave.  They really need to fix this!  Any fresh ideas or workarounds?

[2021-09-11 04:00] sophoah commented on #100
@Cryptodogg1 can you try in a an anonymous window ? signin should work if you are properly logged out before.

[2021-09-13 04:30] mheatz commented on #99
@Peepspud I just started dealing with this issue tonight unfortunately immediately after adding 1k ONE and staking them. All on the chrome extension
Address I get from mnemonic phrase: one1q4tceqvxert8k86dzy6lyd0ke7l6w0g0vk08vg
Address I should be logging into: one109c5866mm3nhz62y994gfwrxa9xwpwuuxz6wrs

[2021-09-14 18:05] senotajs commented on #99
I have the same issue, I have forgotten my password so I am trying to recover my account with seed phrase but instead it generates a new wallet with 0 harmony tokens. Aynone has any solutions? Please help

[2021-09-14 20:33] rlan35 commented on #99
Is this happening on the old harmony staking chrome extension, or the One Wallet extension?

[2021-09-15 13:17] haiguy commented on #100
@Cryptodogg1
If you're using windows, change your resolution scaling (right click desktop --> display settings) to 100%
Previously it wasn't working for me when i was at 150%
(both Brave + Chrome)

[2021-09-15 13:50] senotajs commented on #99
This is happening on the Harmony One Wallet chrome extension version 1.2.4.

Although I managed to recover my account via my password that I had saved long time ago, the issues still standing. Impossible to recover wallet through seed phrase.

[2021-09-16 16:31] AdriaanArend commented on #99
I have also a similar problem. I validated some Harmony, so far so good. But after reinstalling my wallet gives me a different address. So i cant link the validated harmony anymore. I tried import the wallet in metamask with the phrase, but it gives a another adress. Looks like the seed phrase is not linked to the adress. Is someone looking into it?

[2021-09-16 17:20] SoraYangQ opened #108 "Harmony One wallet not connecting to staking & davinci"
Hello, I have been having issues with connecting my Harmony One wallet to,

1) staking - nothing comes out when i press this button (have unlocked my account, cleared cache and all)
![image](https://user-images.githubusercontent.com/90861804/133656419-c9279cb8-dcb7-4f04-b59f-ee84080da660.png)

2) https://davinci.gallery/ - same thing with davinci, when i press this, nothing happens.
![image](https

[2021-09-17 02:30] SoraYangQ commented on #108
Hello! Was adviced to change the display settings resolution to 100% or 125%, worked for me! Thank you

[2021-09-17 02:30] #108 closed

[2021-09-27 11:02] camino2007 commented on #100
I just tried it again with Brave and Chrome - bug is still present. Really annoying and I'm done with workarounds. It's a simple button click. You should be able to solve this.

[2021-10-15 20:41] GalaxySSX999 commented on #99
Could devs provide an update please?

[2021-10-16 19:41] rlan35 commented on #99
Which wallet did you first get the seed phrase? Is it one wallet or the deprecated Harmony staking extension? Can you let me know the version of the wallet?

[2021-10-17 11:36] AdriaanArend commented on #99
One wallet and version 1.2.4

[2021-10-20 16:24] #52 closed

[2021-10-21 02:30] jasonbakthakumar commented on #106
this issue has not been resolved yet - unable to view images for hrc 721 in browser extension

[2021-10-31 15:09] justinasfour04 commented on #106
When should we see the changes in the extension? Do we have to manually update?

[2021-11-01 03:29] datpenguinclub commented on #106
@justinasfour04 have raised this with on Twitter - https://twitter.com/DatPenguinClub/status/1454099046944149505?s=20

Retweet and remind them to update the release

[2021-11-09 03:49] justinasfour04 commented on #106
@datpenguinclub is it updated ?

[2021-11-09 03:52] datpenguinclub commented on #106
@justinasfour04 yes mate - it's updated - also our pre-sale is live at https://datpenguinclub.com . Come and mint yourself a  🐧  and view them in the browser extension wallet in all their glory. 😉😅

[2021-11-09 03:54] datpenguinclub commented on #106
also @justinasfour04 chrome automatically updates all extensions, so I don't think you have to manually update it - but  the version that has the fix is `1.2.5` - the latest one

[2021-11-09 03:57] justinasfour04 commented on #106
It doesn't seem to be working. I still get the NFT icon

[2021-11-09 03:59] datpenguinclub commented on #106
@justinasfour04 could you right click your chrome extension and press "Manage Extension" and make sure that your wallet is on the latest version - `1.2.5`

[2021-11-09 04:00] justinasfour04 commented on #106
![image](https://user-images.githubusercontent.com/6599551/140859702-3df9d7b1-4e62-47fb-be8c-c803d246255e.png)

[2021-11-09 04:02] datpenguinclub commented on #106
@justinasfour04 cool - but with the latest version - with my fix - I'm able to view the NFT along with their attributes
![wallet_2](https://user-images.githubusercontent.com/93375523/140859806-4f2122ac-9131-4268-aaa0-e1d05a112a2b.png)
![wallet](https://user-images.githubusercontent.com/93375523/140859813-09663a1d-9bba-4e4a-8c70-04b3ed4b51e1.png)

[2021-11-09 04:03] justinasfour04 commented on #106
I am not

[2021-11-09 04:04] justinasfour04 commented on #106
I guess I'll fork it and make the change myself and then add to review

[2021-11-09 04:04] datpenguinclub commented on #106
@justinasfour04 - could you exit out of the pop-up and open it back up again if it renders - if not it maybe that the asset associated with your NFT is no longer available

[2021-11-09 04:05] datpenguinclub commented on #106
@justinasfour04 Well there's no change to be made - this was the change that was preventing the render https://github.com/harmony-one/chrome-extension-wallet/pull/109

[2021-11-09 04:05] justinasfour04 commented on #106
It works perfectly fine on Metamask, why does this have to be any different. Also I know that all the metadata is there for those NFTs I have

[2021-11-09 04:07] justinasfour04 commented on #106
![image](https://user-images.githubusercontent.com/6599551/140860277-8e91a001-a0e1-45f8-b445-14042b3bd4ad.png)

[2021-11-09 04:07] justinasfour04 commented on #106
stuck forever loading

[2021-11-09 04:07] datpenguinclub commented on #106
that's on the right path

[2021-11-09 04:07] datpenguinclub commented on #106
close the pop-up and open it back up again

[2021-11-09 04:07] justinasfour04 commented on #106
I am doing that

[2021-11-09 04:08] datpenguinclub commented on #106
@justinasfour04 - I reckon the only solution left is uninstalling the chrome extension and re-installing it

[2021-11-09 04:10] datpenguinclub commented on #106
@justinasfour04 and to check if it works - come mint a 🐧  at https://datpenguinclub.com 😉

[2021-11-09 04:13] justinasfour04 commented on #106
I'm not minting a penguin just to see that it works.

[2021-11-09 04:15] justinasfour04 commented on #106
Removed extension and added it back. Not a single NFT loads

[2021-11-09 04:16] datpenguinclub commented on #106
@justinasfour04 well you could try it on the testnet - https://test.datpenguinclub.com - use the faucet https://faucet.pops.one/ to give yourself some ONE on the test network - and you could mint a penguin on test.datpenguinclub.com on the harmony testnet

[2021-11-09 04:17] justinasfour04 commented on #106
Why are you shilling penguin. I'm telling it's not a good fix

[2021-11-09 04:17] datpenguinclub commented on #106
@justinasfour04 I'm not shilling you my penguin - it costs you $0 to test it on the test network.

[2021-11-09 04:18] justinasfour04 commented on #106
How about you test it with other nfts
like pixel pirates or the frey or harmonauts

[2021-11-09 04:20] datpenguinclub commented on #106
@justinasfour04 if you don't think it's a proper fix - you're welcome to give a better fix. I was just trying to tell you that my fix seems to fix not being able to view NFTs (attached screenshot above)..

Are any of these other projects like pixel pirates / freys and the harmonauts on the harmony testnet ?? if yes what's their URL ?? More than happy to test them out

[2021-11-09 04:22] justinasfour04 commented on #106
https://explorer.testnet.harmony.one/address/0xa5b261935bf555df9cc29b7801ddd00ce1800ff1

[2021-11-09 04:24] datpenguinclub commented on #106
@justinasfour04 I'm just trying to tell you that this issue has been solved - and I have screenshots both on the testnet and mainnet - I'm not trying to shill you anything - not an opinion - a fact

That's an explorer page - I can't mint anything on there - I need URLs to the projects test environments running on the harmony testnet - not the explorer page.

[2021-11-09 04:31] datpenguinclub commented on #106
Do you have the URL to testnet version of harmonauts / or freys / or any other Dapps you mentioned ?? I mentioned mine - cause I have a test version of my Dapp running on the harmony testnet -  so you can test it without any real $$.

Cause we'd like to have end to end integration and best UX when users do use our Dapp. So I'm not shilling you anything, in fact no one is asking me to any of this -

[2021-11-09 06:10] justinasfour04 commented on #106
Issue fixed in the following https://github.com/harmony-one/chrome-extension-wallet/pull/111
![image](https://user-images.githubusercontent.com/6599551/140871584-035409ca-10e4-4a86-aa7a-6c4ace91ff2b.png)
![image](https://user-images.githubusercontent.com/6599551/140871611-45d5106a-f258-41a7-b57b-d99f54791a83.png)

[2021-11-09 06:10] justinasfour04 commented on #106
@datpenguinclub @givp

[2021-11-10 04:15] vrlemat commented on #99
This is the same issue I am having but on MetaMask. SAME ISSUE. I've been on telegram, twitter, reddit and so far it feels like I am the only one complaining about this (re MetaMask). This seems like a Harmony issue if it's occurring on two different wallets. I am so glad I didn't ape into my MetaMask, but still, the fact I can't trade renders my coins worthless. That's the bottom line. I should'v

[2021-11-10 05:00] givp commented on #99
@vrlemat I'm sorry you haven't heard back from anyone. Can you please explain exactly what you did? You imported your seed phrase to a new MetaMask wallet? Did you actually add Harmony network to your MetaMask afterwards? What is the account address?

[2021-11-10 06:22] vrlemat commented on #99
@givp thanks for your reply. yes i had been using MM on Harmony Network just fine until the ONE addresses disappeared. I was able to recover 2 of 3 addresses via MM using the POKT url fix a few weeks ago. Everything was great for a while.

But, last night I logged in to check my balances, I usually do this on DFK, and I see none of my ONE wallets or tokens in my wallet when I'm connected. My POKT

[2021-11-10 08:18] AdriaanArend commented on #99
Sorry to here that man. I had a lot of contact with harmony devs about it.  But  i don't think they can fix or make it a priority. I made peace witth it, that i lost my one tokens.

[2021-11-10 08:26] AdriaanArend commented on #99
Back in the day's the support off harmony was good. But now they don't even react anymore.

[2021-11-10 16:18] givp commented on #99
@vrlemat that is strange. You're certain you used the same seed phrase? We'll need to dig deeper.

[2021-11-10 16:24] givp commented on #99
@vrlemat did you by any chance create the original wallet using Harmony RPC and then restore using POKT RPC? It seems this is a [known MM issue](https://metamask.zendesk.com/hc/en-us/articles/360058120992-My-Seed-Phrase-Secret-Recovery-Phrase-restored-the-wrong-account). Try with the Harmony RPC.

[2021-11-10 16:27] GalaxySSX999 commented on #99
@givp This is the case for everyone who posted having the same issue with the Harmony wallet, i.e., the seed phrase opens a new empty wallet. This has been ongoing since June (at least for me), and we've been hearing talks of audits and "looking into it", but it seems like we're going in circles

[2021-11-10 16:34] givp commented on #99
@GalaxySSX999 I'm just trying to help and get to the bottom of it. I know it's frustrating but this could be several unrelated issues. If we can confirm the MM issue I mentioned above, we can narrow down the other causes.

[2021-11-10 19:28] carslanyan commented on #99
@givp

This is *not* a MM issue.

This happened to me in Apr/May of this year as well.  I was one of the lucky few that happened to write down my wallet's private key, along with the seed phrase.  The seed phrase *always* opened a brand new wallet on the Harmony Wallet plugin (tried both in Chrome and Brave) and the Blits mobile app.  The private key opened the correct wallet.

To put this boldly

[2021-11-10 19:39] givp commented on #99
@carslanyan I appreciate your message and offer to help but like I mentioned above, there could be multiple unrelated issues here. I want to first eliminate the Harmony <> Pokt RPC switch as a first step to address @vrlemat 's issue since other MM users on other chains have reported the same thing. Once we resolve that, we can go deeper on the Chrome Extension issue.

[2021-11-10 20:03] vrlemat commented on #99
@givp Three ONE addresses were initially opened with the Harmony Mainet (the old one) without POKT. There was one address that went missing during this initial opening, but I wrote that off since it was only 60$ test address. It did seem odd that I couldn't link to that address anymore.

Then all addresses stopped working. I was pointed to this direction https://docs.pokt.network/home/resources/pu

[2021-11-10 20:16] vrlemat commented on #99
UPDATE: I just tried something in this [known MM issue](https://metamask.zendesk.com/hc/en-us/articles/360058120992-My-Seed-Phrase-Secret-Recovery-Phrase-restored-the-wrong-account)

[2021-11-10 20:19] givp commented on #99
Please provide an update

[2021-11-10 20:24] vrlemat commented on #99
MM was set to the OLD Original Harmony Mainnet (the one WITHOUT without the POKT) and I created a new Account and it generated my missing address. Strangely I can use both OLD and NEW networks on DFK. I'm gong to share this info on Reddit. There are a lot folks on there missing stuff. Let's see if this can help them.

Still missing test account but I'll work on that.

[2021-11-10 20:27] givp commented on #99
Many thanks @vrlemat - thank you for sleuthing and I appreciate your offer to help others. We will update our documentation to reflect this.

Chrome Extension is unrelated as I suspected. We'll look at that next. Thanks for your patience, everyone.

[2021-11-10 21:25] twobitEDD commented on #99
I had personally been experiencing this issue and found today that if I created a fresh install of brave and install the updated Harmony ONE extension (version 1.2.5) and re-enter my seed phrase, I was no longer seeing the new wallet creation issue.

Please let me know if anyone is still experiencing this issue.

Sorry for the delay in addressing this issue, and thank you to whomever updated the e

[2021-11-10 21:27] twobitEDD commented on #99
I am still seeing an issue where the seed phrase does not recover correctly if I enter it into the Metamask wallet instead of the Harmony ONE wallet extension; but that's for another day...

[2021-11-10 21:28] givp commented on #99
@twobitEDD thank you for the update. @carslanyan @GalaxySSX999 would you mind trying this also? (with the latest version of the extension).

[2021-11-10 22:26] AdriaanArend commented on #99
I tried. But still get the wrong adress

[2021-11-10 22:29] AdriaanArend commented on #99
I tried the updated one wallet. But still getting the wrong adress. I didn't reinstall my web browser(chrome). Will try tomorrow on brave.

[2021-11-11 03:35] twobitEDD commented on #99
Perhaps ensure it's v1.2.5 and yea, try it on brave. 🙏

I used the "Remove" feature it on this page:
https://chrome.google.com/webstore/detail/harmony-chrome-extension/fnnegphlobjdpkhecapkijjdkgcjhkib

I've done it a few times at this point, it's only working on the updated version of the Harmony one wallet for me right now.

I need the wallet on Metamask for a multisig, but I've found a work-arou

[2021-11-11 06:58] AdriaanArend commented on #99
I checked the version before i tried ofc. Also tried on the brave browser now.  But the problem stays the same. Thx for responding.

[2021-11-11 21:40] givp commented on #99
@AdriaanArend could you please share both wallet addresses? The original and the new one.

[2021-11-12 09:29] AdriaanArend commented on #99
Original:  one18hjsccz0mmmemrnqtmhu723cyp8m7ngvqt8gc4

New:. one15efycnrk3swy0jdg03t5w3z479amzacgea87fh

[2021-11-12 14:50] justinasfour04 commented on #106
Sorry to bother you, but can someone have a look at this?

[2021-11-12 21:39] givp commented on #99
@AdriaanArend thank you. I don't have a solution, unfortunately. We have not been able to reproduce the issue. We will most likely create a bounty to investigate this.

[2021-11-12 22:25] AdriaanArend commented on #99
At least thx for trying

[2021-11-13 04:22] 007tom commented on #99
Hi, all

I wonder if the issue occurs and **only** occurs **after** do `Delegate` operation on this website: https://staking.harmony.one/

[2021-11-13 06:03] AdriaanArend commented on #99
For me it did

[2021-11-13 07:35] twobitEDD commented on #99
@AdriaanArend

There is another option to attempt to recover all private keys associated w/ your seed phrase.

It will take opening an HTML file linked below (you can read the code it's completely secure and reviewed here) and entering your seed phrase and setting the page to harmony ONE, collecting the listed private key and adding it to an existing wallet...
You can technically go completely off

[2021-11-13 08:22] AdriaanArend commented on #99
I will try it ofc. I will let you know the results. Thank you!

[2021-11-13 08:47] DavidWhicker commented on #99
This looks like a great temporary solution. however when I look through the coin list I dont see ONE-Harmony. Am I missing something?

[2021-11-13 08:55] 007tom commented on #99
How about this way?

[code]

[code]

[2021-11-13 09:02] twobitEDD commented on #99
Sorry I was using a modified version and wanted to try to link to the source because it's not currently hosted properly.

Here's a quick option until I get the fork release hosted properly.
[bip39-standalone_harmony.html.zip](https://github.com/harmony-one/chrome-extension-wallet/files/7531698/bip39-standalone_harmony.html.zip)

[2021-11-13 09:08] DavidWhicker commented on #99
That worked wonderfully. I dont have the issue of wrong address but I tested it to get the private key from a dummy wallet and it worked. I would very much like to see someone with the actual problem test this out!

Great work!

[2021-11-13 09:19] 007tom commented on #99
@DavidWhicker expect to test with issue wallet

[2021-11-13 09:25] AdriaanArend commented on #99
My adress starts with one...... But all this addresses on the list starts with 0x... How can i find my adress? I tried the first private key. Still getting the wrong adress.

[2021-11-13 09:27] DavidWhicker commented on #99
On the explorer.harmony.one enter your correct one address and then click 3 lines top right and click ETH. It will show you the 0x equivalent. Find that in the list

Kind regards
David Whicker

[2021-11-13 09:29] AdriaanArend commented on #99
Thx

Thx

[2021-11-13 09:42] AdriaanArend commented on #99
Searching the adress list.

[2021-11-13 10:09] DavidWhicker commented on #99
Did you find it ?

Kind regards
David Whicker

[2021-11-13 10:43] AdriaanArend commented on #99
Not yet. Im using cntrl f to search, but the list is pretty big. Is there a faster way? Or should i found the adress already?

[2021-11-13 10:50] DavidWhicker commented on #99
You could try changing the Show Rows to something massive like 100,000. That would show you a lot of address right away. Then do a search. If its not in that then I don’t think it would be there.

[2021-11-13 10:51] DavidWhicker commented on #99
Further to my last comment. It could be worth also hitting CSV rather than table as this will be easier to view with large amount of records.

[2021-11-13 10:56] twobitEDD commented on #99
Double-checking:

Is this the address you're searching for?
`
0x3de50c604fdef79d8e605eefcf2a38204fbf4d0c`
?

[2021-11-13 12:07] AdriaanArend commented on #99
Will do

[2021-11-13 12:07] AdriaanArend commented on #99
Will do

[2021-11-13 12:08] AdriaanArend commented on #99
Thats correct

[2021-11-13 12:19] AdriaanArend commented on #99
If its not there, meaning this was my last chance i guess.  Appreciating the help nonetheless!

[2021-11-13 12:22] 007tom commented on #99
@AdriaanArend
I want to confirm if you input wrong password wgen doing **Delegate** operation, so the issue occurs?

[2021-11-13 12:26] AdriaanArend commented on #99
No i just reinstalled the wallet. After that i was getting the wrong adress

[2021-11-13 12:33] AdriaanArend commented on #99
Turns out the seed phrase is bound to my wrong wallet adress. I was the first adress on the list.
Im pretty sure that i saved the right seed phrase.

[2021-11-13 12:36] 007tom commented on #99
Thank you for your response, I will continue investigate it.

[2021-11-13 13:31] 007tom commented on #99
How about reinstall the extension again, would you get the **same** address?

[2021-11-13 13:34] AdriaanArend commented on #99
I did several times already

[2021-11-13 13:41] 007tom commented on #99
all the address are the same? and still be wrong adderss?

[2021-11-13 13:54] AdriaanArend commented on #99
Yes and yes

[2021-11-13 13:54] 007tom commented on #99
And have you tried this:

[2021-11-13 13:58] AdriaanArend commented on #99
I didn't. Don't know how to do this 😔. Cmd?

[2021-11-13 14:10] 007tom commented on #99
Create a **Nodejs** project here: https://replit.com/

Open it and on right side `Shell` panel, paste the first 2 lines above, and `Enter`, and then it would install the packages.

Paste the code above except for the 2 lines in `index.js` file.

and then check the comment start with 2 slashes: `//`, replace your phrase.

In Shell panel run `node index.js`, it will log a string, that's the privateK

[2021-11-13 14:26] 007tom commented on #99
I will share you a screen recording tomorrow, keep in touch!

[2021-11-13 15:31] AdriaanArend commented on #99
![IMG_20211113_162954~2](https://user-images.githubusercontent.com/90858922/141649647-69261dd8-783e-44b5-8376-b786b409beaf.jpg)

Like this?

[2021-11-13 15:43] AdriaanArend commented on #99
That would be better for sure. Thx for the effort.

[2021-11-14 01:24] 007tom commented on #99
I have no professional screen recording tools, so I upload it on Youtube: https://youtu.be/T-U2TEA0UJU

[2021-11-14 01:49] 007tom commented on #99
By the way, could you visit this website: https://sprout.sesameseed.org/ and import wallet with **mnemonic**?

[2021-11-14 04:34] mauro25987 commented on #99
I went through the same problem, I had a metamask account with the harmony network, and when I wanted to do stalk I installed the harmony extension and when importing with the seed it created a new address.

My solution was to copy the private key that the metamask gives me and import in harmony extension with the private key and not with the seed.

Another solution that worked for me was.
-Import

[2021-11-14 04:50] 007tom commented on #99
@mauro25987
yes, import with private key even if using harmony extension will be no problem, it is caused by seed phrase, maybe the other wallet will work

[2021-11-14 05:24] mauro25987 commented on #99
Yes, from what I understand a seed can have many private keys, each private key is associated with a unique account address (public key).
What the import of harmony with the seed (Mnemonic) does is create a new account and does not check if one already exists.
maybe that's the problem.
Regards

[2021-11-14 05:27] 007tom commented on #99
I can not agree more.

[2021-11-14 06:00] AdriaanArend commented on #99
Nice. Thx

[2021-11-14 06:04] AdriaanArend commented on #99
I tried that on metamask and i think math wallet. Wil try on math for sure

[2021-11-14 06:05] AdriaanArend commented on #99
And sprout ofc!

[2021-11-14 06:08] AdriaanArend commented on #99
Unfortunately i didn't save my private key 😥

[2021-11-14 14:55] AdriaanArend commented on #99
Mathwallet gives me another new adress:
one1kl58an8dgwzsq037ymennw2j776h2meaggjupp

So now i 3 different addresses with one seed phrase.

For some reason i cant access the sprout site. Gives a error.

[2021-11-14 15:02] AdriaanArend commented on #99
Wait i made a mistake. I imported the phrase on eth. After i imported on harmony chain it gives me the same old second adress  one15.
So this one didn't work

[2021-11-14 15:24] 007tom commented on #99
what you mean is, you have 2 wrong addresses, and mathwallet displayed the newer wrong address?

[2021-11-14 15:27] AdriaanArend commented on #99
I did this to. But sadly it still give me the wrong adress one15...

[2021-11-14 15:29] AdriaanArend commented on #99
I corrected my message afterwards. Can you see that? I still have just two addresses, original and the wrong one.

[2021-11-14 15:29] 007tom commented on #99
I wonder why you reinstalled the extension after delegated.

[2021-11-14 15:36] AdriaanArend commented on #99
Well let me explain. My metamask wallet was hacked, so afterwards i was a little concerned about my other wallet extensions. So i removed them all, thinking maybe its not safe. I had the seed phrases, so i can reinstall them after right. The other wallet extensions i used had no problems after reinstalling.

But shouldn't matter right?, even if i reinstalling 10 times a day.

[2021-11-14 15:37] 007tom commented on #99
Could you give me more details about how the whole thing happened?

[2021-11-14 15:39] GalaxySSX999 commented on #99
For me, it was due to the password not working when trying to delegate, and the "fix" was to reinstall the extension wallet: the password worked once it was reinstalled, but the address was wrong. See top of the thread for details.

[2021-11-14 15:41] 007tom commented on #99
Well, I have also tried to reinstall the extension many times, but no problems appeared, so the bug maybe need more details to reproduce.

[2021-11-14 15:45] AdriaanArend commented on #99
I was farming on pancake swap with MM. I checked my wallet one day and everything was gone. I can follow my stolen funds, all spread out. But nothing could be done. I can give you the tixd if you want to check. But it has nothing to do with the harmony wallet.

[2021-11-14 15:47] AdriaanArend commented on #99
Weird thing is, it stays with the same wrong adress.

[2021-11-14 15:47] GalaxySSX999 commented on #99
Maybe something to do with the original wallet becoming deprecated, and reinstalling with a newer version caused the wrong address creation issues?

[2021-11-14 15:48] 007tom commented on #99
Did you do delegate operation before reinstall the extension

[2021-11-14 15:49] AdriaanArend commented on #99
Yes

[2021-11-14 15:49] AdriaanArend commented on #99
Close to make sense.

[2021-11-14 15:49] GalaxySSX999 commented on #99
Not me, I wasn't able to delegate because of the password not working, hence the reinstall.

[2021-11-14 15:51] AdriaanArend commented on #99
Which month did that happen?

[2021-11-14 15:51] 007tom commented on #99
@AdriaanArend
Did you change the password?

[2021-11-14 15:53] AdriaanArend commented on #99
No. Still the same.

[2021-11-14 15:53] GalaxySSX999 commented on #99
June, but the wallet was created a few months before I moved the coins there to try delegating. See top comment.

[2021-11-14 15:55] 007tom commented on #99
@GalaxySSX999

 I am confused why your password was wrong

[2021-11-14 15:56] GalaxySSX999 commented on #99
Me too! And I'm not the only one this happened to.

[2021-11-14 15:57] AdriaanArend commented on #99
Ok. End July, beginning august for me

[2021-11-14 15:59] AdriaanArend commented on #99
Was there a period of updating or changes at that period?

[2021-11-14 16:08] 007tom commented on #99
I am not sure...

[2021-11-14 16:47] 007tom commented on #99
I think I found a way that can use the same seed phrase to generate two different addresses. I will sync it in the morning (UTC+8)

[2021-11-14 17:01] AdriaanArend commented on #99
I appreciate you effort! Thx.

[2021-11-14 17:04] 007tom commented on #99
Ok, why not update now.

https://drive.google.com/drive/folders/1ieoE_aD2aabN425F1E4B0mj-SJ0FAglj?usp=sharing

Download the `dist` folder, and do as the screen recording does.

Check the address again.

[2021-11-14 17:41] AdriaanArend commented on #99
Wil try later and let you know

[2021-11-14 18:52] AdriaanArend commented on #99
When im using the test extension, putting in the phrase and after the password. But when i click on next the button doesn't work. It lights up, but thats it. No next page for putting in the password code.

[2021-11-14 19:03] givp commented on #99
@AdriaanArend and everyone else. Please take care with your seed phrases as you're troubleshooting. Do not enter on unauthorized sites and apps. Remember this is a public platform so expect scammers to be here also.

[2021-11-14 19:09] AdriaanArend commented on #99
Can't you tell if there is some illegal activity?

[2021-11-14 19:09] AdriaanArend commented on #99
My wallet is empty, so not much to take from there

[2021-11-14 22:49] 007tom commented on #99
@givp

the `dist` folder is generated by run `npm run build` on the codebase

I just wonder if this wrong address is created by different `chainType`, for example, `eth`.

[2021-11-14 22:59] 007tom commented on #99
@AdriaanArend

Did you check the console, if there is some warning or error?

[2021-11-14 23:07] AdriaanArend commented on #99
Will do it again tomorrow and check. Now its 💤 time for me

[2021-11-14 23:09] 007tom commented on #99
@givp

the idea is inspired by this code logic:

https://github.com/harmony-one/sdk/blob/3c7061887f25c6ba8def5af05672cdc4f44eb2dc/packages/harmony-account/src/wallet.ts#L120

As we can seen, the different `chainType` can generate different `privateKey`, so it can create different address, which is maybe zero balance.

I tested it by my own seed phrase, it did as the video shown in the shared folde

[2021-11-14 23:17] 007tom commented on #99
I am not sure if this function is also related to create a new account:

https://github.com/harmony-one/chrome-extension-wallet/blob/da2cdc5a015e0ffbd0c2d733b1fa301eed90d06b/src/services/AccountService.js#L21-L37

[2021-11-15 01:03] 007tom commented on #99
And I am confused why this validate seed phrase function will call create an account function:

https://github.com/harmony-one/chrome-extension-wallet/blob/da2cdc5a015e0ffbd0c2d733b1fa301eed90d06b/src/services/AccountService.js#L94-L97

I think this is enough:
https://github.com/harmony-one/sdk/blob/3c7061887f25c6ba8def5af05672cdc4f44eb2dc/packages/harmony-account/src/wallet.ts#L114-L116

[2021-11-15 07:48] sophoah commented on #99
@hypnagonia what do you think ?

[2021-11-15 11:35] AdriaanArend commented on #99
So i tried again, same problem. No errors.

[2021-11-15 11:37] AdriaanArend commented on #99
I recorded it. But not aloud to upload here.

[2021-11-15 11:53] 007tom commented on #99
I think there are some warnings or logs, and what language you use in Chrome, what language of the seed phrase?

Did you try to import wallet using seed phrase before the issue occured? What I mean is if you ever import wallet successfully using the seed phrase.

[2021-11-15 12:03] AdriaanArend commented on #99
You talking about test harmony extension right?

Where should i see this warnings? Language?

First its putting in seed phrase, then name and password. But when i try to click next to put in the security code. That doesn't work. With original harmony wallet everything works fine.

[2021-11-15 12:26] AdriaanArend commented on #99
It says this:

popup.js:37279 Error: Failed to decrypt.
    at popup.js:74
    at popup.js:25
    at Object.next (popup.js:25)
    at o (popup.js:25)

[2021-11-15 12:29] AdriaanArend commented on #99
I see also a private key. When i used that it works.
Getting this adress:
one1kl58an8dgwzsq037ymennw2j776h2meaggjupp

[2021-11-15 12:32] 007tom commented on #99
Ok, this is still another wrong address.

[2021-11-15 12:33] AdriaanArend commented on #99
Yes

[2021-11-15 12:43] 007tom commented on #99
So the question is if your Chrome language is English and your seed phrase is generated in English?

[2021-11-15 12:44] AdriaanArend commented on #99
Its dutch. I will try English

[2021-11-15 12:45] 007tom commented on #99
Chrome language preference is dutch or seed phrase, which one?

[2021-11-15 12:47] AdriaanArend commented on #99
Ch

Chrome is Dutch
Seed phrase English

[2021-11-15 12:51] 007tom commented on #99
Maybe I need to think more time, thank you for your response. @AdriaanArend

[2021-11-15 12:55] AdriaanArend commented on #99
Sure no problem 👍🏻

[2021-11-15 14:27] 007tom commented on #99
Sorry but I still wonder why this did not work for you. @AdriaanArend

[2021-11-15 14:57] AdriaanArend commented on #99
Me to

[2021-11-16 00:58] 007tom commented on #99
Ok, follow the below steps:

1. create a new account with the official Harmony Chrome extension
2. the account name remains as your missing account, not the wrong address account
3. and then you will get a new account.
4. reinstall the extension( don't forget to store the seed phrase )
5. so what account address would you get? (a new wrong address or original address)

[2021-11-16 13:26] AdriaanArend commented on #99
Im getting the original adress. The console says 2 issues and 1 warning.

Audit usage of navigator.userAgent, navigator.appVersion, and navigator.platform

A page or script is accessing at least one of navigator.userAgent, navigator.appVersion, and navigator.platform. Starting in Chrome 101, the amount of information available in the User Agent string will be reduced.

To fix this issue, replace t

[2021-11-17 13:22] 007tom commented on #99
Seems to unrelated

[2021-11-17 14:57] AdriaanArend commented on #99
Ok nvm then

[2021-12-07 20:15] doramina11 opened #112 "Transaction hash shows it went through, but the total does not reflect correctly in wallet or on protocol"
Transaction hash shows it went through, but the total does not reflect correctly in wallet or on protocol. only one of the two transactions shows. see image for detail.
![image](https://user-images.githubusercontent.com/94941947/145099652-19deff14-97c1-402a-8cf5-3a4c4aa73800.png)

[2021-12-07 20:58] givp commented on #112
@doramina11 this is related to RPC issues. Your funds are safe as per Explorer and will appear in your wallet once nodes are back in sync. Please see this update https://www.reddit.com/r/harmony_one/comments/ran9n5/the_state_of_rpc_performance_week_of_dec_6th/

[2021-12-07 20:58] #112 closed

[2021-12-07 23:55] GalaxySSX999 commented on #99
@007tom Any new ideas? Let us know what other info you need or anything else you want us to try; we want to regain control of our coins as much as we want you to claim the bounty reward!

[2021-12-08 00:03] 007tom commented on #99
I am sorry!

No, thank you.

[2021-12-14 14:39] Novikov03 opened #113 "harmony wallet browser extension password not correct"
Hi everyone,
today I have opened one wallet browser extension (Microsoft Edge). And after writing everything down (seed phrases and Password) password does not work. Could you suggest what should I do?

Thank you

[2021-12-14 16:57] #113 closed

[2021-12-14 16:58] Novikov03 commented on #113
The issue was resolved swathing the browser.

[2021-12-16 03:23] GalaxySSX999 commented on #99
You stopped working on this then?

[2021-12-16 03:28] GalaxySSX999 commented on #99
FYI to all, @abdul00107 started working on the issue, see link: https://github.com/harmony-one/bounties/issues/88#issuecomment-991966780

[2021-12-21 03:40] Zanzofily commented on #99
@GalaxySSX999 Can you try modifying the code posted by @coolcottontail to this and check the address you get :

`const { Harmony } = require('@harmony-js/core');
harmony = new Harmony(
"",
{
chainType: 'eth',
chainId: 1,
}
);

mnemonic = "describe pepper bracket tired noble thumb horse spray change tuition next knife"
let account;
try {
account = harmony.wallet.addByMnemonic(mnemonic);
} catch (e)

[2021-12-21 22:09] GalaxySSX999 commented on #99
I get this empty wallet: one1pgvnshquqrjqrrv03ywur4ux6xrfp09lyfpx9f

[2021-12-21 22:12] Usergithub99 commented on #99
I have the same problem! But I can not find the solution with any of the ways that they expose here

[2021-12-29 22:18] Usergithub99 commented on #99
After millions of failed attempts, I finally got my original address back! But what a headache !!!!🤯🤯🤯

[2021-12-29 22:20] DavidWhicker commented on #99
Could you let us know how you managed to do it ? So we can hopefully let others know the same. Thank you.

[2021-12-29 22:20] GalaxySSX999 commented on #99
Dude! Congrats! But how? Was your issue the same as the one in this thread? You can't leave us hanging like this...

[2021-12-29 22:24] Usergithub99 commented on #99
Yes, the same as the thread, the same as posted on reddit by various users! I've been going round and round for 1 month, testing, installing, deleting, praying haha

[2021-12-29 22:27] GalaxySSX999 commented on #99
So you installed/reinstalled the wallet, in the same manner, for a month, and one day, out of the blue, your original seed phrase opened your original address?

[2021-12-29 22:31] Usergithub99 commented on #99
I wish it was just that! No, what I mean is that I tried so many ways, ran so many programs, formulas, commands, to find the problem and get my money back! It wasn't just installing and uninstalling multiple times!

[2021-12-29 22:33] shynhigh commented on #99
Take care while following any instructions that would be posted by @Usergithub99  [Ref](https://github.com/ElmanTr/Cryptocurrencies-hack-with-clipboard-in-python/issues/2)

[2021-12-29 23:07] Usergithub99 commented on #99
🤔....and this?! 😂

[2021-12-29 23:35] 007tom commented on #99
It displays as English, I can see it.

[2021-12-29 23:54] Usergithub99 commented on #99
I already reported it anyway. What happened to him?🌚

[2021-12-31 17:52] Usergithub99 commented on #99
Sure.. my mail is in my profile

[2022-01-02 02:54] GalaxySSX999 commented on #99
Could you share with the Devs so they can look into it as well, or submit the solution for the bounty?

[2022-01-02 03:07] Usergithub99 commented on #99
I will try

[2022-01-03 23:35] billytetrud commented on #95
Was this the problem back then? https://github.com/LedgerHQ/ledgerjs/issues/607

[2022-01-05 22:12] GalaxySSX999 commented on #99
From the bounty page: https://github.com/harmony-one/bounties/issues/88#issuecomment-1006115861

-Harmony Wallet has some bug generating the phnemonic phrase, so if you only saved this then probably all your assets are lost forever...
-Harmony Wallet has some bug using the provided phnemonic phrase, so even if you have the right one you will not recover your wallet.
-It generates correctly the pri

[2022-01-06 05:52] DylanCkawalec opened #114 "Failed/Repeat transactions"
The network is experiencing transaction latency. Some transactions are failing to go through while using 30 Gwei

[2022-01-07 10:23] jkn93 commented on #95
Alas, no. Still can't find the device at all. I've tried it w/ the most recent chrome-version.

[2022-01-07 11:44] prateekj01 commented on #93
Well I tried to make an account today and the problem still exists

[2022-01-07 11:49] prateekj01 commented on #93
This worked for me aswell thank you !

[2022-01-07 18:22] billytetrud commented on #95
I'm also having problems using ledger on linux on any browser for a number of applications. My hypothesis is either a ledger firmware issue or that these applications need to update their library for interacting with ledger.

[2022-01-08 09:29] jkn93 commented on #95
Probably the latter, other wallets work fine with my ledger

[2022-01-08 16:23] AgCaliva commented on #99
https://github.com/harmony-one/bounties/issues/88#issuecomment-1007137850

[2022-01-10 20:19] billytetrud commented on #95
@jkn93 What other wallets have you tried?

[2022-01-11 10:20] jkn93 commented on #95
not helpful for harmony, but yoroi works

[2022-01-13 09:11] AdriaanArend commented on #99
I tried several older versions wallets. Problem stays the same.

[2022-01-13 15:53] Marc6666 commented on #99
Any soloution,
The problem is still there.
I don't have password, only seed phrase.

[2022-01-13 19:16] GalaxySSX999 commented on #99
Thanks @AgCaliva, however, I tried every version prior to v.1.2.3, and my original seed phrase continues to open the same wrong address for each one.

[2022-01-14 15:49] AgCaliva commented on #99
Hi people, can you provide the approximate wallet creation date so i can test the versions you probably used

[2022-01-14 15:57] AdriaanArend commented on #99
Around 10 august for me

[2022-01-14 16:17] carslanyan commented on #99
4 May 2021 for me.

[2022-01-14 17:44] GalaxySSX999 commented on #99
I'm not sure, either v1.1.2, v.1.2.1, or v1.2.2

[2022-01-16 12:31] Ancinek opened #115 "Sign in button not working – Brave/Chrome on 16" M1 macbook"
### My setup
**Hardware**: MacBook Pro 16" 2021 M1Max, 24GPU, 32GB RAM
**macOS:** 12.1
**Brave version:** V1.34.80 Chromium 97.0.4692.71
**Harmony Chrome Extension Wallet**: 1.2.5

### What's happening?
Going to https://staking.harmony.one/onewallet shows me the `Sign in` button but clicking it does absolutely nothing.
If I just try to `Explore with any address`, enter my own, and then try to e.g.

[2022-01-16 23:58] chuacw opened #116 "Persist / Save the gas price"
When the gas price increases in the network, it typically affects all transactions.
However, if you were to change the gas price for a transaction in the wallet, and after you've completed the transaction,
when you go to the wallet to perform another transaction, the gas price is reset again.

Please persist any gas price changes done by the user.

[2022-01-18 13:21] theistoic commented on #99
Hey all. New to the thread.. I just found myself in the same boat. I want to say though that, earlier when this initially happened, I was able to access the correct address by entering the mnemonic on Trust Wallet. The problem I ran into there is that I was not able to find an option for the private key, just the mnemonic again. I noticed someone in the thread had also mentioned Trust wallet as a

[2022-01-21 05:23] DPalmz opened #119 "Cannot send ONE from chrome wallet"
no matter the address, whenever I try to send ONE (amounts much smaller than what is in my wallet), I get the error "Error: Transaction confirm failed. Network fee is not enough or something went wrong."

[2022-01-27 18:58] RobieNovaes commented on #99
Hi I am from Brazil and i having a problem to move my ONE.
I use to use Crome Wallet old version ( Deprecated ) and now is not Working . I can see my ONE and stakes but i can not clain rewards or transfer any Found.
There is a msg saying The transacion failed after 5
I erase The Extension that i hás and sabe The New  HARMONY Crome Extension Wallet turíngia to import with the seed 12 words. Did not

[2022-01-27 18:59] RobieNovaes commented on #99
robienovaes@hotmail.com

[2022-01-27 19:05] AgCaliva commented on #99
Sorry i have been busy this last week, but work is in progress. Thanks for the feedback i will test multiple versions to found exactly whats going on and will see the commits history. Also will check Trust wallet code. Anyway this problems seems to be in other wallets too, thats why nobody its fixing.

[2022-01-27 21:05] AdriaanArend commented on #99
Appreciating your effort👍🏻

[2022-01-27 22:40] AgCaliva commented on #99
Sory people, im new in One ecosystem, some people are talking about Chrome Wallet old version (Deprecated). Is this the same wallet or where i can find the code of deprecated wallet?  I have already tried to reproduce creating Wallets using all the versions in this repository, without luck. Anyway if someone have recovered his wallet using trust wallet i think trust wallet its BIP 39 implementatio

[2022-02-01 12:18] SteelerFanJan commented on #99
Hi
I just created a wallet 2 days ago and I cannot retrieve my wallet with seed phrase or private key. This is disturbing.  I knew I should have waited and put my coins on my Ledger and when I can figure out how to get to them again that is what I'm going to do. This is too crucial for this issue to not have been fixed since June. What is going on? If your wallet doesn't work, you will lose trust

[2022-02-01 12:21] SteelerFanJan commented on #99
Is the private key the same as the withdrawal address?

[2022-02-01 12:26] SteelerFanJan commented on #99
If I cannot retrieve my coins I'm putting Harmony on blast on every social media platform out here. How are you all still not warning people to keep their private key AND mnemonic phrase. Why is the wallet a stupid browser extension instead of a wallet like Trust Wallet.  Harmony may have gotten me this time. You won't get another dime from me behind this.

[2022-02-01 14:34] theadopbeo commented on #99
The people with issue here is only with seed phrase and not with private key. If you have backed up private key you would have retrieved it.

[2022-02-03 03:36] hashmesan opened #123 "Migrate keystore to Metamask eth-keyring-controller"
## Motivation

To improve security of the storage, I'm proposing to use `eth-keyring-controller` which provides a unified enclave like way to sign transaction. The enclave/controller prevents any leakage of privateKey, stores multiple type of keyring in a standard way, and provide proper lock & unlock (Lock removes all the private key in memory store, which makes secure!)

## Tasks

- [x] evaluate

[2022-02-04 09:21] milanstepanov commented on #99
Hi, i have the same issues with others. I have saved only mnemonics and cannot access my wallet in the new extension. Is it possible to use old deprecated extension to generate private key? Thanks

[2022-02-04 23:10] AgCaliva commented on #99
People, you should be fine retrieving your wallet from mnemonic phrase by using same version you used to create wallet.
I have sugested to use old version from this wallet, but it looks like Harmony has a deprecated one? If thats the case (im new in this ecosystem) then you need the deprecated one. It seems that they have it as a private repository i guess. I have tell him the solution and im wait

[2022-02-05 09:14] AdriaanArend commented on #99
I tried using the same version wallet, even a couple older versions with no luck.
I also tried the refresh, local testnet etc, with same results.
Curious about this deprecated one.

[2022-02-05 09:19] AdriaanArend commented on #99
Also with a letter or a word wrong on the seed phrase, the chance to enter a random wallet is not possible or very slim chance.

[2022-02-06 01:00] AgCaliva commented on #99
Then we have to wait that they implement my solution( or until they tell me the direction that want to take for the codebase ), and provide instructions for retrieving account.

[2022-02-08 22:40] nacirabogenschneider commented on #119
Is there already any solution here??

[2022-02-09 00:10] nacirabogenschneider commented on #119
I have found the bug, you have to set the Gas Price from 1 to 30, this will solve the Problem. This was changed due to a code merge a few days ago.

[2022-02-09 02:02] givp commented on #119
Thanks @nacirabogenschneider - this has already been added and will go out in the next update: https://github.com/harmony-one/chrome-extension-wallet/pull/122

[2022-02-09 02:02] #119 closed

[2022-02-09 09:56] DPalmz commented on #119
Thanks, I appreciate someone finding a solution. I was able to send ONE
sucessfully.

On Tuesday, February 8, 2022, Giv Parvaneh ***@***.***> wrote:

[2022-02-23 15:58] florian-stoica commented on #115
I have the same issue with the same error running on Ubuntu 20.04 but for me property was 'left' not top

[2022-02-24 22:27] 0neUp commented on #100
Could we get an update on this?

Any way to prevent this? Seems like other extension wallets don't have the issue this much.

[2022-02-25 02:13] sophoah commented on #100
the issue is on the staking site not on the extension from my understanding ? did you try the solution suggested above ?

[2022-02-25 08:24] 0neUp commented on #100
True, just found this open issue and wanted to push it again.
I don't have the issue myself, but I think its something to look into, as it happens kinda regularly for alot of users, who have no issues with other wallets.

[2022-03-02 02:24] jakobious commented on #100
This does not work for me either on chrome on Mac. using harmony one extenson wallet, signed in fine, cannot press sign in button

[2022-03-07 16:46] jakobious commented on #93
@reaganh17 @taqyon this issue still happens with Chrome extension! Cannot press the sign in button on staking dashboard, already successfully signed into the wallet

[2022-03-07 16:47] jakobious commented on #93
Please open and resolve

[2022-03-08 22:20] reaganh17 commented on #93
@jakobious did changing the display scaling change anything?

[2022-03-08 22:24] jakobious commented on #93
No, I went to 400% and out to 50% as well, still cannot press the button and sign in, would really like to stake some tokens with some smaller validators to help the decentralization efforts.

[2022-03-08 22:26] reaganh17 commented on #93
@jakobious can you post a screenshot on here so the devs can take a look? be sure to hide any personal info from the screenshot.

[2022-03-08 22:32] jakobious commented on #93
can you specify what you would like to see in the screen shot? All I am looking at is the sign in button, after it has recognized my extension wallet, not much to see but is what you are referring to?

[2022-03-08 22:35] reaganh17 commented on #93
Yeah just curious at which screen you are not seeing the button. Is it on this area of the site:
![image](https://user-images.githubusercontent.com/67028825/157337364-ceb31c53-1522-4426-9c5a-8684bb691e04.png)

[2022-03-08 22:36] cristian-smocot commented on #93
I would use a third party extension like [MathWallet](https://mathwallet.org/en-us/)
The official extension will be retired anyway when the new official wallet is released.

[ Twitter announcement](https://twitter.com/harmonyprotocol/status/1498424432800538631?t=PaDXu60jvbYI9zND2N6tOQ&s=19)

[2022-03-08 22:43] jakobious commented on #93
wow - @reaganh17 and @cristian-smocot ---
this issue occurred yesterday, but I believe changes were made and I am all good now -- I see the chrome extension option was removed, i then used the import address option at the top and I successfully logged into staking dashboard and can access my validators, rewards etc. Thank you very much for communicating actively and for any time/help!

Great to se

[2022-03-08 22:46] cristian-smocot commented on #93
Some people use Metamask (I don't like it).
I like MathWallet. I am waiting for the release of the new official wallet.
Other people use Guarda wallet.

[2022-03-08 23:16] #93 closed

[2022-03-08 23:16] reaganh17 commented on #93
@jakobious glad you solved the issue, I'll be closing this case again.

[2022-03-09 07:19] hypnagonia commented on #123
@hashmesan nice proposal. we cease further wallet development and plan to migrate users to other wallets

[2022-03-22 22:41] GalaxySSX999 commented on #99
@givp Seeing as the root of the issue was identified, and the bounty is paid/closed, any word on progress towards a solution for those still affected?

https://github.com/harmony-one/bounties/issues/88#issuecomment-1068299172

[2022-03-24 13:07] Usergithub99 commented on #99
Still not solving this?

[2022-03-29 03:35] azale2407 commented on #99
I still have old deprecated version extension.  I can retrieve/see my balance there.  But the old version does not allow me to generate private key or send to new wallet because I can't change gas fees and standard fees on old version are too low to execute anything.  Can't move/claim rewards.  But I do see my funds at least.  Still no word on a solution for this?

[2022-03-29 16:50] jakobious commented on #115
I get the exact same error pop up when on staking website and trying to unstake. please help asap. Just want to transfer funds and restake in smaller valdiators

[2022-03-29 16:54] jakobious commented on #93
@reaganh17 can you please help us on this issue: https://github.com/harmony-one/chrome-extension-wallet/issues/115

[2022-04-04 17:58] Vampzilla commented on #99
I'm getting the same thing I just want to unstake my ONE and move if off the old deprecated wallet. Does anyone know how we can possibly increase Gas just to withdraw the ONE out. this is getting so frustated. I also have my Keystore file which I can't seem to import into the Harmony One extension that recently got deprecated. It keeps asking for the keystore password but I have no idea what that

[2022-04-04 18:07] Usergithub99 commented on #99
I was able to solve the problem a long time ago... my email is in the profile if you want help.

[2022-04-04 20:13] Vampzilla commented on #99
why don't you just tell me on here dude?

[2022-04-14 18:33] GalaxySSX999 commented on #99
Has anyone been contacted about the Harmony One wallet no longer being supported and the migration to MetaMask wallet? https://docs.harmony.one/home/general/wallets/browser-extensions-wallets/one-wallet

Where do this leave everyone with ONE in limbo? Did Harmony just give up on this wallet and are not going to bother fixing this issue? I'm frankly tired of waiting and I don't believe this will ge

[2022-04-14 18:36] GalaxySSX999 commented on #99
@lijiang2087 @gupadhyaya @MaxMustermann2

[2022-04-14 18:38] Usergithub99 commented on #99
I think it was with you that I spoke by mail and offered you the solution, but you did not accept it

[2022-04-14 19:49] GalaxySSX999 commented on #99
Sorry man, but are you with Harmony? Did you ever share your solution with the Devs like you said you would? They are the ones who need to provide us with the solution directly, for free. If you have a solution that's proven to work, then they need to pay you, and distribute to affected users afterwards, otherwise anyone can come on here and claim to have a solution for a fee.

[2022-04-14 23:23] Usergithub99 commented on #99
I already explained it to you in the email. Good luck!

[2022-04-15 14:14] GalaxySSX999 commented on #99
It must have been with someone else cause we only discussed sharing with the Devs, but you didn't trust them to pay you. If anyone else took your offer and was successful in recovering their tokens, they should speak up and vouch for you and your solution.

[2022-04-18 14:32] MaxMustermann2 commented on #99
Based on @AgCaliva's accepted [bounty](https://github.com/harmony-one/bounties/issues/88) solution, I have written up the [code to recover the private key](https://github.com/MaxMustermann2/harmony-bounty-seed) from the seed phrase that users may have saved earlier. It (1) accepts the mnemonic / seed phrase / secret phrase, (2) validates it, and (3) spits out two private keys based on the two deri

[2022-04-18 18:37] GalaxySSX999 commented on #99
So we download 'GO' and then run this code in command prompt? Then what?

[2022-04-18 19:08] MaxMustermann2 commented on #99
Before running the code, make sure to take appropriate precautions against keyloggers, screen recorders, and RAM readers to make sure nobody else can read your input. I recommend restarting your computer after you are done with the entire process, just to be a 100% safe. In short, the risks that you take on by running this software are all yours.

The code will ask you for your mnemonic phrase. En

[2022-04-18 19:40] GalaxySSX999 commented on #99
I get this message, what am I doing wrong?

 C:\harmony-bounty-seed>go run ./hdwallet.go
 #github.com/ethereum/go-ethereum/crypto/secp256k1
 cgo: C compiler "gcc" not found: exec: "gcc": executable file not found in %PATH%

[2022-04-20 07:18] MaxMustermann2 commented on #99
You need `gcc` too.

[2022-04-24 14:42] SergePaul commented on #99
GalaxySSX999 - Were you able to make it work? It seems that I have the same issue that you have. On the discord group HarmonyDragon referred me to github. I am definitively not a tech guy. I'm correct to think that none of the Harmony "Managerial team" seems to care?

[2022-04-25 00:34] GalaxySSX999 commented on #99
Nope, nothing so far, I still get the "gcc" not found error... I know my way around PC hardware and have basic OS/Linux knowledge, but I'm far from an IT/coder guru. And no, the devs don't seem to care all that much. After almost a year of our tokens being in limbo, the minimum I was expecting was them to put some effort towards a comprehensive step by step guide, in laymen terms that anyone can u

[2022-04-25 22:36] SergePaul commented on #99
GalaxySSX999 - Thanks for getting back to me.  Very disappointed with team. How many users are facing the same or similar issues, I wonder?? Overall, an insanely terrible marketing technique !! By not putting the energy and funds to deal with the issue it will end up costing Harmony much more. Sad !!

[2022-04-30 20:16] deep-rune commented on #99
I used the fix and I am STILL getting the wrong wallet on the deprecated wallet extension. still locked out of funds

edit: tried on metamask too. Still some random wallet address containing 0 funds

[2022-05-01 03:33] AgCaliva commented on #99
@deep-rune hi there, i solved the bounty. i see there is a typo in solution, that was my fault really sorry, will send pull request in some mins or talk to harmony about this. Then will come back here.

[2022-05-01 17:30] MaxMustermann2 commented on #99
I have added a simple downloadable webpage to extract your private key from the mnemonic. Thanks to [Otis](https://fuzz.fi/) from the community for pointing this out. We will host this file on a harmony.one page soon, but those of you in a hurry may access it [here](https://maxmustermann2.github.io/bip39/). The page works offline, so you may Ctrl + S it and use it in an airgapped computer. The sou

[2022-05-02 15:14] deep-rune commented on #99
Could you clarify - is the address the ETH address associated? My ONE address begins with ONE, not 0x

Otherwise, this still doesn't seem to work for me. Does it work for anyone else?

[2022-05-02 15:21] MaxMustermann2 commented on #99
Yes.

Yes; it works for me. I get the same results as in Golang (using `go get -u github.com/miguelmota/go-ethereum-hdwallet/cmd/geth-hdwallet` followed by `geth-hdwallet -mnemonic "tag volcano eight thank tide danger coast health above argue embrace heavy" -path "m/44'/60'/0'/0/0"`), and I have been able to recover my funds from the private key generated using the "Coin" set to "ONE - Harmony (pa

[2022-05-02 16:22] deep-rune commented on #99
I got the previous downloaded program working but it gives me different keys to the webpage. Neither of the keys from golang work, neither the keys from the webpage (either with (path 60; old) or (path 1023; new)) work - none of the addresses match mine. I'd really like to hear from more people how they get on with this, am I the only one having problems?

[2022-05-02 16:41] MaxMustermann2 commented on #99
The webpage gave me the correct keys I needed, if that helps.

[2022-05-03 04:41] GalaxySSX999 commented on #99
I looked at over 500 lines using **path 60: old** and my original address does not show up. The top line is yet another empty address: https://explorer.harmony.one/address/0x0a19385c1c00e4018d8f891dc1d786d18690bcbf

I tried **path 1023; new**, and get the same incorrect address I've been getting since June 2021 on the top line:
https://explorer.harmony.one/address/0x39028ab8cbd7c7e4243acf610efe37b

[2022-05-03 10:25] deep-rune commented on #99
I have now solved my problem, it was actually a problem on my end with my mnemonic. The webpage works fine and gives me the correct address / key on path 1023; new

thankyou!

[2022-05-03 10:35] AdriaanArend commented on #99
It doesn't work for me either. Same results as you.

[2022-05-03 10:40] AgCaliva commented on #99
Hi. Can i ask when you noticed/got another address in your wallet, and when you created your original wallet?

[2022-05-03 12:25] AdriaanArend commented on #99
I don't have a exact date, but i created the original around July 2021 and wanted to add more around a month later. That's when i found out.

[2022-05-03 14:31] GalaxySSX999 commented on #99
Can you elaborate on the problem you had with your mnemonic?

[2022-05-03 22:47] AgCaliva commented on #99
Well as far as i see it looks like there is another bug specific to July 2021 or close, i will look what it can be.
So both of you got the problem of invalid password after wallet got blocked?

[2022-05-03 22:49] GalaxySSX999 commented on #99
I did, yes

[2022-05-04 13:46] AdriaanArend commented on #99
Not for me. Just the wrong wallet adress.

[2022-05-04 16:35] GalaxySSX999 commented on #99
I got the invalid password problem, leading to the wrong addresses after re-installing browser wallet and trying to import using mnemonic

[2022-05-04 20:40] AdriaanArend commented on #99
For me it was reinstalling the wallet. So it could be the password.

[2022-05-05 12:26] albe1628 commented on #99
When i paste the mnemonic and press enter  cmd windows it closes automatically

[2022-05-05 12:41] albe1628 commented on #99
Really great job mate.

The third resault works for me.

[2022-05-16 09:59] AgCaliva commented on #99
Hi sir. Sory what whas your activities or wallet address? You were delegating too before the problem?

[2022-05-16 10:31] AdriaanArend commented on #99
Yes i'm still delegating(well😒 i cant touch it, cause off the problem).
After the delegation i deleted the browser wallet because off a security issue on my pc.
Later on i wanted add more on my delegation account(the first try was a test). So i installed the wallet again and then the problem occurred.
My original address: one18hjsccz0mmmemrnqtmhu723cyp8m7ngvqt8gc4
My wrong address: one15efycnrk3sw

[2022-05-21 13:47] mh735 commented on #99
Any solution to this issue?  I have the exact same problem.  My original wallet was created August 2021.

[2022-05-21 23:20] AgCaliva commented on #99
Hi, not yet sory, I kinda have found the error but need to confirm if its the bug involved indeed and think a solution with Harmony team. It would help if you leave your original address too. Thank you.

[2022-06-19 19:44] srehman25 commented on #99
Hi, I am facing a similar issue. I tried to recover metamask using seed phrase but the harmony account linked (wrong address) to it was showing a 0 balance. When I tried to reinstall the old chrome app and use recovery phrase to restore Harmony app, again, it linked to a new address with 0 coins.
 I've tried running the code and also tried using the website above shared by @MaxMustermann2. My acco

[2022-07-07 20:11] aheba opened #125 "Gas update; can't undelegate my ones for transfert"
Hello,
could you please update the new gas; I'm stuck, I can't get my stacking ones to transfer to metamask

[2022-07-07 20:27] aheba commented on #125
I switch to MetaMask and all is ok; thanks

[2022-07-07 20:27] #125 closed, assigned to nobody

[2022-07-30 16:58] Devseale commented on #80
Also had same problem with mine and this customer support helped me, this is their live chat code
![qr-code-livechat](https://user-images.githubusercontent.com/110301362/181933566-d9206f08-51c4-49c1-bccc-659335db89db.png)
https://direct.lc.chat/14345826/

[2022-07-30 16:59] Devseale commented on #99
Also had same problem with mine and this customer support helped me, this is their live chat code
![qr-code-livechat](https://user-images.githubusercontent.com/110301362/181933566-d9206f08-51c4-49c1-bccc-659335db89db.png)
https://direct.lc.chat/14345826/

[2022-08-17 23:59] AgCaliva commented on #99
Hi people. Its sad that i have to fail to my words but Harmony team has become a complete mess. Im not working with them anymore. People here should do noise on discord channel and most of them get redeemed by Harmony team, im not sure why some get other address, but even if some of you get your account back i have seen that there was a bug with delegation (not anyone its affected or at least not

[2022-11-30 13:16] joacogit92 opened #126 "Ledger Nano X not detected (Linux, Brave)"
Hello! I have been trying to connect my Ledger Nano X to staking.harmony.one unsucsefully. I have installed Harmony Ledger App in my Ledger but when I run it, it is not detected by the website. I looked at other issues related and I found that somebody else got the same problem. Any help?

OS: Linux Mint
Browser: Brave

Thanks